@import '../../../styles.scss';

// Container principal da página
.container-projeto {
  width: auto;
  overflow-x: hidden;
  background-color: $background-salic;
  min-height: calc(100vh - 110px) !important;

  .container {
    @media (min-width: 992px) { padding: 0px 56px; }
  }

  p { word-wrap: break-word; }

    .texto-elipsado{
      p, h5, .card-title{
          width: 100%;
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
      }
    }

  .botao-icone {
    max-height: 1.0em;
  }

  .barra-compartilhar {
    p { display: inline-block; margin-bottom: 0px; }

    background-color: $cinza;
    min-height: 42px;
    border-top: 1px solid $cinza-escuro;
    border-bottom: 1px solid $cinza-escuro;
    padding: 5px 9px;

    .baixar {
      margin-top: 4px;
      display: inline-block;
      text-align: center;
      
      .links {
        display: inline-block;
      }
      @media (max-width: 768px) { 
          width: 100%;
          margin-right: auto;
          margin-left: auto;
       }
    }
    .compartilhar { 
      text-align: center; 
      display: inline-block;
      float: right;
      margin-left: 6px;

       @media (max-width: 768px) { 
         margin-top: 12px;
          width: 100%;
          margin-right: auto;
          margin-left: auto;
       }
    }
  }

  .pagina-titulo {
    color: $verde-salic;
    font-size: 1.750em;
    margin: 14px 0px;
  }

  .linha-pagina-titulo {
    height: 3px;
    background-color: $verde-salic;
  }


  .pagina-subtitulo {
    color: $verde-salic;
    font-size: 1.188em;
    margin: 15px 0px 6px 0px;
  }

  .pagina-infos {
    
    margin-top: 20px;

    .pagina-infos-label { 
      font-size: 0.875em; 
      line-height: 1.2em;
      margin-bottom: 0px;  
      color: $verde-salic; 
    }

    .pagina-infos-valor { 
      font-size: 1.0em; 
      margin-bottom: 14px;
    }

    .pagina-infos-valor-destaque { font-size: 1.188em; }

    .toggle { 
      padding: 15px 15px 0px 0px;
      text-align: right; 

      @media (max-width: 768px){ 
        padding: 0px 15px 0px 15px;
        text-align: left; 
      }

    }

  }

  .pagina-bloco {
    background-color: $verde-salic;
    padding: 20px 20px 5px 20px;
    margin-bottom: 7px;
    border-radius: 2px;

    .pagina-infos-label { color: white; }

    .pagina-infos-valor { color: $background-salic; font-size: 1.188em; }

  }

  .container-bloco-e-entidades {
    @media (min-width: 768px){ padding-left: 0px; }
  }

  .pagina-listas {
    margin-top: 0px;

    .pagina-subtitulo { 
        margin-bottom: 6px;
        @media (max-width: 768px){ margin-bottom: 15px; }
    }

    &>.row>.col-sm-6 { 
      padding-top: 10px; 

      @media (max-width: 768px){ 
        padding-bottom: 0px;
        padding-top: 0px ;
      }
    }

    .col-xs-5 {
          @media (min-width: 768px) and (max-width: 992px){ padding-left: 0px; }
    }

    .col-borda-dir {
      
      @media (min-width: 768px){ border-right: 1px solid $verde-salic; }

      padding-bottom: 10px;

      @media (min-width: 768px) and (max-width: 992px){
        padding-bottom: 0px; 
      }
    }
  }

  .pagina-entidades {
      margin-top: 13px;
      padding-top: 15px;

      @media (min-width: 768px){ 
        border-left: 2px solid $verde-claro-salic; 
        padding-left: 15px;  
      }

      .pagina-subtitulo { 
        margin: 0px 0px 15px 0px;
        img { 
          vertical-align: baseline; 
          height: 0.95em;
        }
      }

      #nomeProponente, #cgccpfProponente { line-height: 1.1em; }

      .col-xs-7 {
        padding-right: 0px;
      }

      .botao-verde-claro{
        button {
          color: $verde-salic;
          background-color: $verde-claro-salic;
          border-color: darken($verde-claro-salic, 10%);
        }
        @media (max-width: 480px){
           padding-left: 0px;          
           button { padding: 6px 4px; }  
        }

        @media (min-width: 768px) and (max-width: 992px){
           padding-left: 0px;          
           button { padding: 6px 8px; }  
        }
      }

      &>.row { padding-bottom: 10px; }
  }

  // Estilos dos modais de vetores
  .modal-header {
    color: white;
    background-color: $verde-salic;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    h4 { font-size: 1.35em; }
    button.close { color: white !important; opacity: 0.9 !important; }
    
  }
  .modal-item {

    padding: 5px 20px;

    @media (max-width: 480px) { padding: 5px; }

    .row {
      padding: 8px 20px 0px 20px;
      margin-left: -35px;
      margin-right: -35px;

      @media (max-width: 480px) { 
        padding: 8px 8px 0px 8px;
        margin-left: -20px;
        margin-right: -20px;
      }
    }
    .row-dark { background-color:#f8f8f8;}

    .modal-divisor {
      height: 1px;
      background-color: $verde-claro-salic;
      margin: 0px -35px 15px -35px;

      @media (max-width: 480px) { margin: 0px -20px 15px -20px; }
    }

    .modal-item-titulo { 
      font-size: 1.15em;
      font-weight: bold;
      color: $verde-salic;
    }

    .modal-item-label {
      font-size: 0.85em;
      color: $verde-salic;
      margin-bottom: 2px;
      line-height: 1.0em;
    }

    .modal-item-valor {
      margin-bottom: 6px;
    }

  }

  // Abas de Texto ----------------------------------------------------------
  .container-abas {
    margin-top: 20px;
    margin-bottom: 13px;
    padding: 0px;
    height: 43px;
    overflow-y: hidden;
    overflow-x: hidden;

    @media (min-width: 768px) { margin-right: 0px; margin-left: 0px; }
  }
  
  .abas-texto { 
      position: relative;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0px 5px;
      height: 60px;
      line-height: 1;
      
      @media (max-width: 768px) { margin-left: 2px; }

      a { 
          color: $verde-salic; 
          font-size: 1.0em;
          border-radius: 0px;
          cursor: pointer;
          background-color: $verde-claro-salic; 
          transition: border-bottom-color  0.4s;
          -webkit-transition: border-bottom-color  0.4s;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          &:hover {
              // color: $verde-claro-salic;
              // background-color: $verde-salic;
              text-decoration: none;
          }  
      }

      .active {
          a {
              color:white;
              background-color: $verde-salic; 
          }
      }   

  }

  .aba {
      position: absolute;
      overflow-y: hidden;
      left:0px;
      top:0px;
      min-width: 1220px;
      margin-top: 0px;

      li {
          display: table-cell;
          position: relative;
          text-align: center;
          color:#efefef;
          vertical-align: middle;
      }

      li>a { padding: 8px 10px 7px 10px; }

  }

  .scroller {
    text-align:center;
    cursor: pointer;
    display: none;
    padding: 5px 10px;
    white-space:no-wrap;
    vertical-align:middle;
    background-color: $verde-salic;
    z-index: 999;

    i { color: white; }
  }

  .scroller-right{
    float: right;
  }

  .scroller-left {
    float: left;
  }

  .pagina-textos{
    background-color: white;
    border: 2px solid $verde-salic;
    border-radius: 7px;
    margin: -25px -25px 50px -25px;
    padding: 25px;
    font-size: 1.0em; 

    p { margin-bottom: 0px; }
  }
}

// Spinner
.spinner {
    text-align: center;
    margin: 25vh auto 0 auto;
}