<p>
  Página do Projeto de PRONAC {{ PRONAC }}
</p>
<p>Exemplos de ShareButtons: </p>
<share-buttons class="withCount" 
              [url]="'https://projetosalic.herokuapp.com'" 
              [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
              [showCount]="true" ></share-buttons>

<a [routerLink]="['/', 'projetos']">Página Inicial</a>

<button (click)="onLoadProjeto(PRONAC)">Carregar Projeto</button>
<p *ngIf="carregandoDados">Carregando projeto...</p>
<p *ngIf="projeto != undefined">
  Exemplo de Data Formatada: {{ projeto.data_inicio }} --> {{ dataFormatterService.formataData(projeto.data_inicio)}} --> {{ dataFormatterService.formataDataExtenso(projeto.data_inicio)}}<br>
  Exemplo de Valor Formatado: {{ projeto.valor_solicitado }} --> {{ dataFormatterService.formataValorEmReais(projeto.valor_solicitado)}}<br> 
  <button [routerLink]="['/proponentes', dataFormatterService.extraiIdDaUrl(projeto._links.proponente)]">VER PROPONENTE</button>
  <button [routerLink]="['/incentivadores']" [queryParams]="{'PRONAC': projeto.PRONAC}">BUSCAR INCENTIVADORES</button>
  <button [routerLink]="['/fornecedores']" [queryParams]="{'PRONAC': projeto.PRONAC}">BUSCAR FORNECEDORES</button>
</p>
<p>{{ JSON.stringify(projeto) }}</p>

