<div class="container container-proposta">
  <h3>
    Página da Proposta de ID: {{ idProposta }}
  </h3>
  <p>Exemplos de ShareButtons: </p>
  <share-buttons class="withCount" 
                [url]="this.router.url" 
                [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
                [showCount]="true" ></share-buttons>
                
  <button (click)="onLoadProposta(idProposta)">Carregar Proposta</button>
  <p *ngIf="carregandoDados">Carregando proposta...</p>
  <div *ngIf="!carregandoDados">
    <p>{{ JSON.stringify(proposta) }}</p>
</div>
</div>