<div class="container container-proposta">
  <div *ngIf="!carregandoDados" class="container">
    <h3>
      Página da Proposta de ID: {{ idProposta }}
    </h3>
    <share-buttons class="withCount" 
                  [url]="url" 
                  [title]="'Proposta: ' + proposta.nome" 
                  [description]="'VERSALIC - Portal de Visualização do Sistema de Apoio às Leis de Incentivo à Cultura.'"
                  [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
                  [showCount]="true" ></share-buttons>
                  
    <button (click)="onLoadProposta(idProposta)">Carregar Proposta</button>
    <div>
      <p>{{ JSON.stringify(proposta) }}</p>
    </div>
  </div>
  <div *ngIf="carregandoDados" class="spinner">
    <sk-cube-grid [color]="'#226000'" [isRunning]="carregandoDados"></sk-cube-grid>
    <p *ngIf="taxaDuracaoCarregamento === 0">Buscando {{ pesquisaPor }}...</p>
    <p *ngIf="taxaDuracaoCarregamento === 5">Ordenando resultados...</p>
    <p *ngIf="taxaDuracaoCarregamento === 10">Ainda trabalhando...</p>
  </div>
</div>