@import '../../../styles.scss';

// Container principal da página
.container-home {
  background-color: white;
  min-height: calc(100% - 50px);

  h1, h2, h3, h4, h5 {
      color: $verde-salic;
  }
}

// Conteúdo do topo da página
.container-topo {
    margin-top: -50px;
    color: white;
    background-color: #bbb;
    min-height: 423px;

    h1 {
        margin-top: 0px;
        padding-top: 150px;
    }

    border-bottom: 42px solid $verde-claro-salic;
}

// Caixa de Pesquisa ------------------------------------------------------
.container-pesquisa {

    margin-top: -142px;
    
    .container {background-color: $verde-claro;}

    .header-buscador {
        background-color: $verde-claro-salic;
        margin: 0 -15px;
        height: 42;

        p { padding: 12px; margin-bottom: 0px; }
    }

    .linha { 
        border: 0 solid $verde-salic;
        height: 1px; 
        color: $verde-salic;
        background-color: $verde-salic; 
        margin: 0 -15px;
    }
    .container-inputs {
        padding: 12px 25px;
    
        .form-control-placeholder {
            position: absolute;
            top: 0;
            padding: 6px 0 0 12px;
            pointer-events: none;
            color: #aaa;
            transition: all 200ms;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control.cheio + .form-control-placeholder {
            color: #777;
            font-size: 95%;
            font-weight: bold;
            top: -28px;
        }

        .input-group>.form-control, .input-group-btn>.btn {
            border-radius: 0px;
        }

        .form-group {
            margin: 0px -15px 5px -15px;
            padding: 0px;

            .row {
                margin: 0px 0px;
                padding: 0px;
            }
            
            .row>.input { margin-top: 28px; }
        }
    }
}

// Abas de Pesquisa ----------------------------------------------------------
.abas-pesquisa {
    
    position: relative;
    overflow: hidden;
	padding: 0px 5px;
  	height: 42px;
    line-height: 1;

    a { 
        color: black; 
        font-size: 1.3em;
        border-radius: 0px;
        cursor: pointer;

        &:hover {
            background-color: $verde-claro-salic;
            border-bottom: 6px $verde-salic solid; 
        }    
    }

    .active {
        a {
            color: black;
            background-color: transparent;
            border-bottom: 5px $verde-salic solid; 
        }
    }   

}

.aba {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

.aba li{
	display:table-cell;
    position:relative;
    text-align:center;
    color:#efefef;
    vertical-align:middle;
}

.scroller {
  margin-top: 6px;
  text-align:center;
  cursor:pointer;
  display:none;
  padding:7px 10px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color: $verde-claro-salic;
  border-radius: 20px;
  box-shadow: 0px 4px 5px #555;
  z-index: 999;
}

.scroller-right{
  float:right;
}

.scroller-left {
  float:left;
}


// Conteúdo da LandingPage
.container-info {
    background-color: white;
    min-height: 280px;
    padding-top: 40px;
    padding-bottom: 20px;

    p { font-size: 1.1em; }

    .icone-entidade {
        background-color: #aaa;
        height: 140px;
        padding: 10px;
        margin-top: 15px;
    }

    .descricao-entidade {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.container-dados {
    background-color: $verde-claro;
    min-height: 240px;
    padding-top: 20px;
    padding-bottom: 20px;

    .linha {
        height: 3px;
        margin: 0px -20px 20px -20px;
        background-color: $verde-salic;
    }

    .estatistica-numero {
        padding: 5px;
        font-size: 3.2em;
        line-height: 0.8em;
    }
}