<p>
  Página Inicial
</p>
<!--<div>
  <ul>
    <li><a [routerLink]="['', pesquisaPor]" [queryParams]="queries">Página Inicial com Pesquisa por {{ pesquisaPor }} + Queries</a></li>
    <li><a [routerLink]="['/projetos', 1]">Página de Projeto</a></li>
    <li><a [routerLink]="['/propostas', 1]">Página de Proposta</a></li>
    <li><a [routerLink]="['/proponentes', '123456789']">Página de Proponente</a></li>
    <li><a [routerLink]="['/incentivadores','123456789']">Página de Incentivador</a></li>
    <li><a [routerLink]="['/fornecedores', '123456789']">Página de Fornecedor</a></li>
  </ul>
</div>-->
<div>
  <p>Pesquisar por:
  <select #option [ngModel]="pesquisaPor" (ngModelChange)="onTrocaPesquisaPor(option.value)">
    <option value="projetos">projetos</option>
    <option value="propostas">propostas</option>
    <option value="proponentes">proponentes</option>
    <option value="incentivadores">incentivadores</option>
    <option value="fornecedores">fornecedores</option>
  </select>
  </p>
</div>
<div>
  <p>Buscar na API por {{ pesquisaPor }} com os campos: {{ JSON.stringify(queries) }} <button (click)="onRealizarBusca()">Testar Busca</button></p>
  <p>{{ resposta }}</p>
</div>

<div [ngSwitch]="pesquisaPor">
      
  <div *ngSwitchCase="'projetos'">
    <div *ngFor="let projeto of listaProjetos">
      <p>{{ projeto.nome }} <button [routerLink]="['/projetos', projeto.PRONAC]">VER PROJETO</button></p>
    </div>
  </div>
  <div *ngSwitchCase="'propostas'">
    <div *ngFor="let proposta of listaPropostas">
      <p>{{ proposta.nome }} <button [routerLink]="['/propostas', proposta.id]">VER PROPOSTA</button></p>
    </div>
  </div>
  <div *ngSwitchCase="'proponentes'">
    <div *ngFor="let proponente of listaProponentes">
      <p>{{ proponente.nome }} <button [routerLink]="['/proponentes', dataFormatterService.extraiIdDaUrl(proponente._links.self)]">VER PROPONENTE</button></p>
    </div>
  </div>
  <div *ngSwitchCase="'incentivadores'">
    <div *ngFor="let incentivador of listaIncentivadores">
      <p>{{ incentivador.nome }} <button [routerLink]="['/incentivadores', dataFormatterService.extraiIdDaUrl(incentivador._links.self)]">VER INCENTIVADOR</button></p>
    </div>
  </div>
  <div *ngSwitchCase="'fornecedores'">
    <div *ngFor="let fornecedor of listaFornecedores">
      <p>{{ fornecedor.nome }} <button [routerLink]="['/fornecedores', dataFormatterService.extraiIdDaUrl(fornecedor._links.self)]">VER FORNECEDOR</button></p>
      </div>
  </div>

</div>


<p *ngIf="carregandoDados">Carregando {{ pesquisaPor }}...</p>
<div *ngIf="buscaSemResultados">
  <p>Não encontramos {{ pesquisaPor }} com estes parâmetros de pesquisa :(</p>
  <p>Experimente mudar os termos de busca ou filtros aplicados.</p>
</div>
  <!--<div *ngSwitchCase="'fornecedores'"
         infinite-scroll
       [infiniteScrollDistance]="scrollDistance"
       (scrolled)="onScrollDown()"> -->
       
<div *ngIf="paginador  && !buscaSemResultados">
  <p>Exibindo {{ numeroDeItems }} de um total de {{ totalDeItems }} {{ pesquisaPor }} {{ pesquisaPor==='propostas'?'encontradas':'encontrados' }}.</p>
  <ul class="pagination">
    <li [ngClass]="{disabled:paginador.currentPage === 1}">
      <a (click)="carregarPagina(1)">First</a>
    </li>
    <li [ngClass]="{disabled:paginador.currentPage === 1}">
      <a (click)="carregarPagina(paginador.currentPage - 1)">Previous</a>
    </li>
    <li *ngFor="let indice of indicesPaginas" [ngClass]="{active:paginador.currentPage === indice }">
      <a (click)="carregarPagina(indice)">{{indice}}</a>
    </li>
    <li [ngClass]="{disabled:paginador.currentPage === paginador.totalPages}">
      <a (click)="carregarPagina(paginador.currentPage + 1)">Next</a>
    </li>
    <li [ngClass]="{disabled:paginador.currentPage === paginador.totalPages}">
      <a (click)="carregarPagina(paginador.totalPages)">Last</a>
    </li>
  </ul>
</div>