<div class="container-home">
    
  <!-- Título da Página -->
  <div class="container-topo text-center" [ngStyle]="{'background-color': corAleatoriaDoBanner }">

  </div>

  <!-- Caixa de Pesquisa -->
  <div class="container-pesquisa row">
    <div class="container col-lg-6 col-lg-offset-3">
      <div class="header-buscador"><p><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscador</p></div>
    
      <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
      <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
      <div class="text-center abas-pesquisa">
        <ul class="nav nav-pills aba">
          <li role="presentation" [ngClass]="{'active': pesquisaPor === 'projetos'}"><a (click)="onTrocaPesquisaPor('projetos')">Projetos</a></li>
          <li role="presentation" [ngClass]="{'active': pesquisaPor === 'propostas'}"><a (click)="onTrocaPesquisaPor('propostas')">Propostas</a></li>
          <li role="presentation" [ngClass]="{'active': pesquisaPor === 'proponentes'}"><a (click)="onTrocaPesquisaPor('proponentes')">Proponentes</a></li>
          <li role="presentation" [ngClass]="{'active': pesquisaPor === 'incentivadores'}"><a (click)="onTrocaPesquisaPor('incentivadores')">Incentivadores</a></li>
          <li role="presentation" [ngClass]="{'active': pesquisaPor === 'fornecedores'}"><a (click)="onTrocaPesquisaPor('fornecedores')">Fornecedores</a></li>
        </ul>
      </div>
      <div class="linha"></div>
      <div class="container-inputs">
          
          <!-- Busca Simples ============================================================== -->
          <div *ngIf="!buscaAvancada" class="row input-group" [ngSwitch]="pesquisaPor">
            <input *ngSwitchCase="'projetos'" type="text" [(ngModel)]="queriesDeProjetos['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
            <input *ngSwitchCase="'propostas'" type="text" [(ngModel)]="queriesDePropostas['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
            <input *ngSwitchCase="'proponentes'" type="text" [(ngModel)]="queriesDeProponentes['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
            <input *ngSwitchCase="'incentivadores'" type="text" [(ngModel)]="queriesDeIncentivadores['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
            <input *ngSwitchCase="'fornecedores'" type="text" [(ngModel)]="queriesDeFornecedores['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit" (click)="onRealizarBusca()">BUSCAR</button>
            </span> 
          </div>

          <!-- Busca Avançada ============================================================ -->
          <div *ngIf="buscaAvancada" class="form-group">
            <div class="row">
              <div class="input col-sm-4">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome do projeto</div>
              </div>
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['PRONAC']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['PRONAC'] !== undefined && queries['PRONAC'] !== null && queries['PRONAC'] !== ''}">
                <div class="form-control-placeholder">PRONAC</div>
              </div>
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['area']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['area'] !== undefined && queries['area'] !== null && queries['area'] !== ''}">
                <div class="form-control-placeholder">Área</div>
              </div>
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['segmento']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['segmento'] !== undefined && queries['segmento'] !== null && queries['segmento'] !== ''}">
                <div class="form-control-placeholder">Segmento</div>
              </div>
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['municipio']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['municipio'] !== undefined && queries['municipio'] !== null && queries['municipio'] !== ''}">
                <div class="form-control-placeholder">Município</div>
              </div>
            </div>
            <div class="row">
              <div class="input col-sm-3">
                <input type="text" [(ngModel)]="queries['proponente']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['proponente'] !== undefined && queries['proponente'] !== null && queries['proponente'] !== ''}">
                <div class="form-control-placeholder">Nome do Proponente</div>
              </div>
              <div class="input col-sm-3">
                <input type="text" [(ngModel)]="queries['cgccpf']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['cgccpf'] !== undefined && queries['cgccpf'] !== null && queries['cgccpf'] !== ''}">
                <div class="form-control-placeholder">CPF/CNPJ</div>
              </div>
              <div class="input col-sm-3 col-xs-6">
                <input type="text" [(ngModel)]="queries['data_inicio']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['data_inicio'] !== undefined && queries['data_inicio'] !== null && queries['data_inicio'] !== ''}">
                <div class="form-control-placeholder">Data de Início</div>
              </div>
              <div class="input col-sm-3 col-xs-6">
                <input type="text" [(ngModel)]="queries['data_termino']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['data_termino'] !== undefined && queries['data_termino'] !== null && queries['data_termino'] !== ''}">
                <div class="form-control-placeholder">Data de Término</div>
              </div>
            </div>
            <div class="row">
              <div class="input col-sm-6" *ngIf="keys(ordenarPorQueries).length > 0">
                <span>Ordenar por: </span>
                <div class="btn-group" dropdown>
                  <button class="btn btn-default" type="button" id="seletorOrdenarPor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  dropdownToggle>
                    {{ ordenarPorQueries[ordenarPor] }}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="seletorOrdenarPor">
                    <li *ngFor="let key of keys(ordenarPorQueries)" role="menuitem"><a (click)="ordenarPor = key" class="dropdown-item">{{ ordenarPorQueries[key] }}</a></li>
                  </ul>
                </div>
                  <button (click)="ordenarDesc = !ordenarDesc;" type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-sort-by-attributes" [ngClass]="{'glyphicon-sort-by-attributes': !ordenarDesc, 'glyphicon-sort-by-attributes-alt': ordenarDesc }" aria-hidden="true"></span>
                  </button>
                </div>
              </div>

            </div>

            <!-- Footer da Busca ============================================================== -->
            <div class="row footer-busca">
              <div class="col-lg-12">
                <a (click)="buscaAvancada = !buscaAvancada">{{ buscaAvancada ? 'Busca Simples' : 'Busca Avançada' }}</a>
                <button *ngIf="buscaAvancada" class="btn btn-primary pull-right" type="submit" (click)="onRealizarBusca()">BUSCAR</button>
              </div>
            </div>

        </div>
      </div>
    </div>

  <div class="container-info">
    <div class="container">
      <div class="row" [ngSwitch]="pesquisaPor">
      <div class="col-xs-12 col-sm-2 icone-entidade">icone</div>
      <div class="col-xs-12 col-sm-10 descricao-entidade" >

        <h2 *ngSwitchCase="'projetos'">Projetos</h2>
        <p *ngSwitchCase="'projetos'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed 
        quis purus suscipit, feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna 
        in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quamLorem ipsum dolor 
        sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed quis purus suscipit, 
        feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quam </p>

        <h2 *ngSwitchCase="'propostas'">Propostas</h2>
        <p *ngSwitchCase="'propostas'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed 
        quis purus suscipit, feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna 
        in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quamLorem ipsum dolor 
        sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed quis purus suscipit, 
        feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quam </p>

        <h2 *ngSwitchCase="'proponentes'">Proponentes</h2>
        <p *ngSwitchCase="'proponentes'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed 
        quis purus suscipit, feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna 
        in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quamLorem ipsum dolor 
        sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed quis purus suscipit, 
        feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quam </p>

        <h2 *ngSwitchCase="'incentivadores'">Incentivadores</h2>
        <p *ngSwitchCase="'incentivadores'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed 
        quis purus suscipit, feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna 
        in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quamLorem ipsum dolor 
        sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed quis purus suscipit, 
        feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quam </p>

        <h2 *ngSwitchCase="'fornecedores'">Fornecedores</h2>
        <p *ngSwitchCase="'fornecedores'">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed 
        quis purus suscipit, feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna 
        in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quamLorem ipsum dolor 
        sit amet, consectetur adipiscing elit. Nam fermentum porttor mi. Etam rhoncus condimentum turpis. Sed quis purus suscipit, 
        feugiat magna in, pretum quam Etam rhoncus condimentum turpis. Sed quis purus suscipit, feugiat magna in, pretum quam </p>

      </div>
    </div>
  </div>
  </div>

  <div class="container-dados">
    <div class="container">
        <h2>Dados</h2>
      <div class="linha"></div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
          <p class="estatistica-numero">74.673</p>
          <p class="estatistica-legenda">Projetos submetidos</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
          <p class="estatistica-numero">5.482</p>
          <p class="estatistica-legenda">Projetos aprovados</p>
        </div>
        <div class="col-xs-12 col-sm-6 text-center">
          <p class="estatistica-numero">R$5.345.843123,54</p>
          <p class="estatistica-legenda">Reais captados</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 text-center">
          <p class="estatistica-numero">74.417</p>
          <p class="estatistica-legenda">Incentivadores</p>
        </div>
      </div>
    </div>
  </div>

</div>