@import '../../../styles.scss';

// Container principal da página
.container-home {
  background-color: white;
  overflow-x: hidden;

  h1, h2, h3, h4, h5 {
      color: $verde-salic;
  }
}

// Conteúdo do topo da página
.container-topo {

    height: 371px;

    h1 {
        margin-top: 0px;
        padding-top: 150px;
    }

    border-bottom: 42px solid $verde-claro-salic;

    .banner-img {  
        background-image: url("../../assets/banner.jpg");
        background-size: cover;
        background-position: center center, center top;
        background-repeat: repeat, no-repeat;
        //position: relative;
        height: 330px;
        width: 100%;

        // &:before{
        //     background-color: rgba(16,102,241,0.5);
        //     content:" ";
        //     top:0;
        //     left:0;
        //     position: absolute;
        //     width:100%;
        //     height:100%;
        // }

        .logo {
            font-family: $fonte-logo;
            font-size: 6.0em;
            color: white;
            padding-top: 80px;
            margin-bottom: -20px;

            @media all and (max-width: 480px){
                font-size: 3.6em;
                padding-top: 100px;
                margin-bottom: -5px;
            }

            .logo-ver { font-weight: 700 };
            .logo-salic { font-weight: 500; }
        }

        .logo-subtitulo {
            font-family: $fonte-logo;
            font-weight: 500;
            font-size: 0.718em;
            display: inline-block;
            color: white;
            padding-left: 10px;
            padding-right: 10px;

            .logo-linha {
                height: 2px;
                margin-bottom: 10px;
                background-color: white;
            }
        }
    }


}

// Caixa de Pesquisa ------------------------------------------------------
.container-pesquisa {

    margin: -84px 0px 0px 0px;

    .container { 
        border-radius: 5px;
        box-shadow: 0px 0px 6px #222;
        padding: 0px;
        max-width: 900px;
        float: none;
        margin-left: auto;
        margin-right: auto;
        transition: width 0.5s, height 0.8s;
        -webkit-transition: width 0.5s, height 0.8s;
    }

    .container-inputs {
        padding: 0px 25px 15px 25px;
        background-color: $verde-claro; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        @media (max-width: 768px){ 
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
             padding: 0px 15px 15px 15px;
        }

        .form-control-placeholder {
            position: absolute;
            text-overflow: ellipsis;
            top: 0;
            padding: 8px 0 0 12px;
            pointer-events: none;
            color: #aaa;
            transition: all 200ms;
            z-index: 88;
            font-size: 0.850em;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control.cheio + .form-control-placeholder,
         {
            color: #444;
            font-size: 95%;
            top: -28px;
        }

        .btn.btn-default.form-control {
            text-align: left !important;

            .caret {
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 12px;
                margin-top: 15px;
            }
        }

        .input-group {
            padding: 28px 15px 15px 15px;
        }

        .form-group {
            margin: 0px -5px 15px -5px;
            padding: 0px;

            .row {
                margin: 0px -5px;
                padding: 0px;
            }
            
            .row>.input { 
                margin-top: 28px; 
                padding-left: 10px;
                padding-right: 10px;

                button {
                    text-overflow: ellipsis;
                    overflow-x: hidden; 
                }

                .dropdown-menu {
                    overflow-y: auto;
                    max-height: 480px;

                    @media (max-width: 768px) {
                        max-height: 236px;
                    }

                }
            }
        }

        .calendario {
            display: table;
            
            input {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            input.invalido {
                border-color: darkred;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 24, 24, 0.6);
            }

            .btn {
                z-index: 90;
            }

        }

        .calendario-direita {

            ngx-my-date-picker { display: none; }
            
            .selector { 
                right: 0px !important; 
                left: inherit;
            }

        }

    }

    .footer-busca {
        a { cursor: pointer; }
        a:hover { color: $verde-salic; text-decoration: none; }
        
    }
}

// Abas de Pesquisa ----------------------------------------------------------
.abas-pesquisa {
    
    position: relative;
    overflow: hidden;
	padding: 5px 5px 0px 5px;
  	height: 42px;
    line-height: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid $verde-salic;
    background-color: $verde-claro-salic;

    @media all and (max-width: 768px){ border-radius: 0px; }

    a { 
        color: black; 
        font-size: 1.0em;
        border-radius: 0px;
        cursor: pointer;
        padding: 11px 12px;
        border-bottom: 4px $verde-claro-salic solid; 
        transition: border-bottom-color  0.4s;
        -webkit-transition: border-bottom-color  0.4s;

        &:hover {
            border-bottom: 4px $verde-salic solid; 
            background-color: $verde-claro;
        }    
    }

    .active {
        a {
            color: black;
            background-color: transparent;
            border-bottom: 4px $verde-salic solid; 
        }
    }   

}

.aba {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
    margin-top: 0px;
    margin-left: 14px;

    li {
        display:table-cell;
        position:relative;
        text-align:center;
        color:#efefef;
        vertical-align:middle;
    }

}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding: 10px;
  white-space: no-wrap;
  vertical-align: middle;
  background-color: $verde-salic;
  z-index: 999;

  i { color: white; }
}

.scroller-right{
  float: right;
}

.scroller-left {
  float: left;
}


// Conteúdo da LandingPage
.container-info {
    background-color: white;
    min-height: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    p { font-size: 1.1em; }

    .container-icone {
        margin: 35px auto 10px auto;
        padding: 15px;
        border-radius: 80px;
        height: 160px;
        width: 160px;
        text-align: center;
        background-color: $verde-salic;
        background-position:50% 50%;
        background-repeat: no-repeat; 
        background-size: 80px;

    }
    .descricao-entidade {
        text-align: left;
        padding-left: 40px;
        padding-right: 40px;

        @media all and (max-width: 768px){
            padding-left: 15px;
            padding-right: 15px;
        }

    }
}

.container-dados {
    background-color: $verde-claro;
    min-height: 240px;
    padding-top: 20px;
    padding-bottom: 20px;

    .linha {
        height: 3px;
        margin: 0px -20px 20px -20px;
        background-color: $verde-salic;
    }

    .estatistica-numero {
        padding: 5px;
        font-size: 2.8em;
        line-height: 0.8em;

        @media all and (max-width: 1200px){
            font-size: 2.5em;
        }

        @media all and (max-width: 480px){
            font-size: 1.75em;
            font-weight: 500;
        }
        
    }
}