@import '../../../styles.scss';

// Container principal da página
.container-falha {
  width: auto;
  overflow-x: hidden;
  background-color: $background-salic;
  min-height: calc(100vh - 110px) !important;

  .pagina-titulo {
    color: $verde-salic;
    font-size: 1.750em;
    margin: 15px 0px;
  }

  .linha-pagina-titulo {
    height: 3px;
    background-color: $verde-salic;
  }

}