@import '../styles.scss';

.navbar-default {
  background-color: $verde-medio;
  margin-bottom: 0px !important;
  border: none;
  border-radius: 0px;

  a, span { color: white;}

  .navbar-nav>.active>a {
    color: white;
    background-color: black;
  }

}
#app-outlet-container {
  min-height: calc(100vh - 110px) !important;
}
