@import '../styles.scss';

.navbar-default {
  background-color: $verde-salic;
  margin-bottom: 0px !important;
  border: none;
  border-radius: 0px;

  a, span { color: white;}

  .navbar-nav>.active>a {
    color: $verde-salic;
    background-color: $verde-claro-salic;
  }

  .navbar-nav>li:hover, .navbar-nav>li:focus {
    color: $verde-salic;
    background-color: $verde-claro;
  }

  .logo {
    font-family: $fonte-logo;

    .logo-ver { font-weight: 700 };
    .logo-salic { font-weight: 500; }
  }

}
#app-outlet-container {
  min-height: calc(100vh - 110px) !important;
}
