@import '../../../styles.scss';

// Container principal da página
.container-busca {
  background-color: $background-salic;
  overflow-x: hidden;
  width: 100%;

  h1, h2, h3, h4, h5 {
      color: $verde-salic;
  }
}


// Caixa de Pesquisa ------------------------------------------------------
.container-pesquisa {

    background-color: $verde-claro;

    .container-abas {
        background-color: $verde-claro-salic;
        border-bottom: 1px solid $verde-salic;
        height: 42px;
    }

    .linha { 
        border: 0 solid $verde-salic;
        height: 1px; 
        color: $verde-salic;
        background-color: $verde-salic; 
        margin: 0 -15px;
    }

    .container-inputs {
        padding: 0px 15px 15px 15px;

        .form-control-placeholder {
            position: absolute;
            text-overflow: ellipsis;
            top: 0;
            padding: 8px 0 0 12px;
            pointer-events: none;
            color: #aaa;
            transition: all 200ms;
            z-index: 88;
            font-size: 0.850em;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control.cheio + .form-control-placeholder,
         {
            color: #444;
            font-size: 95%;
            top: -28px;
        }

        .btn.btn-default.form-control {
            text-align: left !important;

            .caret {
                position: absolute;
                right: 0;
                top: 0;
                margin-right: 12px;
                margin-top: 15px;
            }
        }

        .input-group {
            padding: 15px;
        }

        .form-group {
            margin: 0px 0px 15px 0px;
            padding: 0px;

            .row {
                margin: 0px -5px;
                padding: 0px;
            }
            
            .row>.input { 
                margin-top: 28px; 
                padding-left: 10px;
                padding-right: 10px;

                button {
                    text-overflow: ellipsis;
                    overflow-x: hidden; 
                }

                .dropdown-menu {
                    overflow-y: scroll;
                    max-height: 480px;

                    @media (max-width: 768px) {
                        max-height: 236px;
                    }

                }
            }
        }

        .calendario {
            display: table;
            
            input {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }

            input.invalido {
                border-color: darkred;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 24, 24, 0.6);
            }
        }

    }

    .footer-busca {
        a { cursor: pointer; }
        a:hover { color: $verde-salic }
    }
}

// Abas de Pesquisa ----------------------------------------------------------
.abas-pesquisa {
    
    position: relative;
    overflow: hidden;
	padding: 0px 5px;
  	height: 42px;
    line-height: 1;
    background-color: $verde-claro-salic;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid $verde-salic;
    // border-bottom: 2px solid $verde-salic;

    a { 
        color: black; 
        font-size: 1.0em;
        border-radius: 0px;
        cursor: pointer;
        font-weight: 300;
        margin-top: 2px;

        &:hover {
            background-color: $verde-claro;
            border-bottom: 4px solid $verde-salic;
        }  
    }

    .active {
        a {
            color: black;
            background-color: transparent;
            border-bottom: 4px $verde-salic solid; 
        }
    }   

}

.aba {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
    margin-top: 0px;
    margin-left: 14px;

    li {
        display:table-cell;
        position:relative;
        text-align:center;
        color:#efefef;
        vertical-align:middle;
    }

     li>a { padding: 10px; }

}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding: 9px 10px 10px 10px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color: $verde-salic;
  z-index: 999;

  i { color: white; }
}

.scroller-right{
  float: right;

}

.scroller-left {
  float: left;
}


// Header dos Resultados
.container-header-resultados {

    background-color: $cinza;
    border-top: 1px solid $cinza-escuro;
    border-bottom: 1px solid $cinza-escuro;

    .header-respostas {
        vertical-align: middle;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;

        .divisor {
            display: inline-block;
            width: 1px;
            min-height: 50px;
            background-color: $cinza-escuro;
            margin: -6px 4px -6px 4px;
            vertical-align: middle;
            z-index: 120;

            @media (max-width: 440px) {
                margin: -6px 0px;
            }
        }

        .header-respostas-titulo { 
            display: inline-block; 
            margin: 0px; 
            font-size: 1.125em;
            font-weight: 300;    
        }
    }

    .fixo {
        display: inline-block;
        background-color: $cinza;
        border-top: 1px solid $cinza-escuro;
        border-bottom: 1px solid $cinza-escuro;
        width: 100% !important; 
        z-index: 999;
        top: 0; 
        left: 0;
        position: fixed;

        &>div {
            padding-left: 0px; 
            padding-right: 0px; 
            margin-right: 0px;
        }
    }

    .container-chips-panel {
        background-color: #ccc;
        position: absolute;
        top: 51px;
        left: 0px;
        right: 0px;
        padding: 10px 25px;
        border: 1px solid $cinza-escuro;
        margin: auto 0px;
        z-index: 99;
    }
    .container-chips { 
        display: inline-block;
        padding: 12px 10px;
        min-height: 48px;

        @media (max-width: 768px) {
            padding: 14px 0px 14px 15px;
        }

        @media (max-width: 992px) and (min-width: 768px) {
            border-bottom: 1px solid $cinza-escuro;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #containerChipsRow {
            display: inline-block;
            background-color: $cinza;
            min-width: 60%;
        } 

        #containerChipsButton { display: none }   

        a {
            cursor: pointer;

            &:hover {
                color: $verde-salic;
            }
        }
    }

    // Chips ----------------------------------------------------------
    .chip {
        display: inline-block;
        padding: 0px 9px 0px 9px;
        height: 18px;
        font-size: 0.75em;
        font-weight: 300;
        line-height: 19px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid $cinza-escuro;
    }

    .chip-wrapper {
        display: inline-block;
        margin: 2px;
        
    }

    .chip-tag {
        padding: 0 0.8em;
        float: left;
        margin: 0 5px 0 -13px;
        height: 25px;
        min-width: 25px;
        border-radius: 8px 2px 2px 8px;
        background-color: #fdfdfd;
    }


    // Ordenacao e paginação
    .container-ordenacao {
        display: inline-block;
        padding: 6px;

        .btn-group { 
            padding-top: 2px;
            padding-bottom: 2px;
        }

        
        @media (max-width: 440px) {
            button {
                padding: 6px 6px;
            }
        }

        #seletorOrdenarPor {
            @media (max-width: 340px) {
                span.visible-xs-inline-block { display: none !important;}
                &:before{ content: 'Ordem'; }
            }
        }
    

        @media (max-width: 768px) {
            text-align: center;
            padding: 6px 0px 6px 0px;
        }
    }

    .container-baixar {
        display: inline-block; 
        text-align: start;
        padding: 6px;

        @media (max-width: 768px) {
            padding: 6px 14px 6px 0px;
            text-align: end;
        }

        button {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

}

.container-paginacao {

    padding-top: 20px;
    margin: 0 -20px;   

    .paginacao-superior {
        margin-top: -18px;
        margin-bottom: -15px;
        text-align: end;

        @media all and (max-width: 768px){
            text-align: center;
        }

    }

    p { display: inline-block; }

    .quantidade-respostas { 
        padding-top: 8px; 

        @media all and (max-width: 440px){
            text-align: center; 
            width: 100%;
        }
    }

    .itens-por-pagina { 
        text-align: center; 

        @media all and (max-width: 440px){
            width: 100%;
        }    
    }

}

// Resultados da Pesquisa 
.container-respostas {

    display: inline-block;
    width: 100%;
    margin-top: -10px;

    .col-lg-8, .col-md-12 { padding: 0px; }

    .card {
        
        overflow: hidden;
        height: 612px;
        padding: 6px;
        margin-bottom: 19px; 

        @media all and (min-width: 768px){
            height: 355px;
            padding: 19px;
        }        

        .texto-elipsado{
            p, h5, .card-title{
                width: 100%;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .card-header {
            background-color: $cinza;
            color: $verde-salic;
            margin: 10px 10px -10px 10px;
            padding: 6px 20px;
            border: 1px solid $cinza-escuro;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 40px;

            p { margin-bottom: 0px; font-size: 1.25em;}
        }

        .card-resposta {
            background-color: $cinza-claro;
            border-left: 1px solid $cinza-escuro;
            border-right: 1px solid $cinza-escuro;
            padding: 20px;
            margin: 10px;
            height: 515px;

            @media all and (min-width: 768px){
                height: 245px;
            } 

            .resposta-label {
                font-size: 1em;
                font-weight: 300;
                line-height: 1.15em;
                margin-bottom: 0px;  
            }
            .resposta-valor {
                font-size: 1.25em;
            }
        }

        .card-resumo {
            background-color: rgba(32, 46, 26, 0.90);
            color: white;
            height: 515px;
            @media all and (min-width: 768px){
                height: 245px;
                margin: 10px 29px;
            }
            position: absolute;
            overflow-y: auto;
            padding: 20px; 
            margin: -3px 16px;
            right: 0;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

            p { font-size: 1.15em }
        }

        .card-botoes-container {
            height: 41px;
            position: relative;
            z-index: 99;
            background-color: $background-salic;
        }

        .card-botoes {
            background-color: $cinza;
            color: $verde-salic;
            border: 1px solid $cinza-escuro;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 8px 20px;
            margin: -10px 10px 10px 10px;
            height: 100%;

            a {
                font-size: 1.125;
                cursor: pointer;

                &:hover {
                    color: $verde-salic;
                }
            }

            .card-botao-resumo {
                display: inline-block;
                padding-left: 0px;  

            }

            .card-botao-ver {
                text-align: end;
                display: inline-block;
                padding-right: 0px;
            }
        }

    }

}

