<div class="container-busca">
    
  <!-- Caixa de Pesquisa -->
  <div class="container-pesquisa row">
    <div class="container-abas">
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">   
        <div class="scroller scroller-left hidden-lg hidden-md"><i class="glyphicon glyphicon-chevron-left"></i></div>
        <div class="scroller scroller-right hidden-lg hidden-md"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <div class="text-center abas-pesquisa">
          <ul class="nav nav-pills aba">
            <li role="presentation" [ngClass]="{'active': pesquisaPor === 'projetos'}"><a (click)="onTrocaPesquisaPor('projetos')">Projetos</a></li>
            <li role="presentation" [ngClass]="{'active': pesquisaPor === 'propostas'}"><a (click)="onTrocaPesquisaPor('propostas')">Propostas</a></li>
            <li role="presentation" [ngClass]="{'active': pesquisaPor === 'proponentes'}"><a (click)="onTrocaPesquisaPor('proponentes')">Proponentes</a></li>
            <li role="presentation" [ngClass]="{'active': pesquisaPor === 'incentivadores'}"><a (click)="onTrocaPesquisaPor('incentivadores')">Incentivadores</a></li>
            <li role="presentation" [ngClass]="{'active': pesquisaPor === 'fornecedores'}"><a (click)="onTrocaPesquisaPor('fornecedores')">Fornecedores</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
      <div class="container-inputs">

        <!-- Busca Simples ============================================================== -->
        <div [ngStyle]="{ display: !buscaAvancada ? 'table' : 'none' }" class="row input-group" [ngSwitch]="pesquisaPor">
          <input *ngSwitchCase="'projetos'" type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
          <input *ngSwitchCase="'propostas'" type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
          <input *ngSwitchCase="'proponentes'" type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
          <input *ngSwitchCase="'incentivadores'" type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
          <input *ngSwitchCase="'fornecedores'" type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" placeholder="Pesquisar por {{ pesquisaPor }}">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" (click)="onRealizarBusca()">BUSCAR</button>
          </span>
        </div>

        <!-- Busca Avançada ==================================================================================================== -->
        <div [ngStyle]="{ display: buscaAvancada ? 'inline' : 'none' }">
          <div [ngSwitch]="pesquisaPor" class="form-group">
            <!-- PROJETOS BUSCA AVANÇADA ====================================================================================== -->
            <div *ngSwitchCase="'projetos'" class="row">
              <div class="input col-sm-4">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome do projeto</div>
              </div>
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['PRONAC']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['PRONAC'] !== undefined && queries['PRONAC'] !== null && queries['PRONAC'] !== ''}">
                <div class="form-control-placeholder">PRONAC</div>
              </div>
              <!-- AREA =========================================-->
              <div class="input col-sm-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['area'] !== undefined && queries['area'] !== null && queries['area'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ areasDeProjetos[queries['area']] }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder">Área</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorAreaDoProjeto">
                  <li *ngFor="let area of areasDeProjetos; let i = index" role="menuitem">
                    <a (click)="i > 0 ? queries['area'] = i : queries['area'] = null;
                                queries['segmento'] !== null && queries['segmento'] !== undefined && 
                                queries['segmento'] !== '0' && queries['area'] !== null && 
                                queries['area'] != segmentosDeProjetos.obterAreaCodPorCod(queries['segmento']) ? queries['segmento'] = null : true;" class="dropdown-item">{{ area }}</a>
                    </li>
                </ul>
              </div>
              <div class="input col-sm-2 col-xs-6 btn-group visible-xs-inline-block">
                <select class="form-control" aria-labelledby="seletorSegmentoDoProjeto" [ngModel]="queries['area']"
                  (change)="mudarAreaPorSelect($event)"
                  [ngClass]="{'cheio': queries['area'] !== undefined && queries['area'] !== ''}">
                  <option [value]="i > 0 ?  i : null" *ngFor="let area of areasDeProjetos; let i = index">{{ area }} </option>
                </select>
                <div class="form-control-placeholder">Área</div>
              </div>
              <!-- SEGMENTO ======================================-->
              <div class="input col-sm-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['segmento'] !== undefined && queries['segmento'] !== null && queries['segmento'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ segmentosDeProjetos.obterNomePorCod(queries['segmento']) }}
                  <span class="caret"></span>
                </button>
                <div class="form-control-placeholder">Segmento</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorSegmentoDoProjeto">
                  <li *ngFor="let segmento of segmentosDeProjetos.segmentosFiltrados(queries['area']); let i = index" role="menuitem">
                    <a (click)="i > 0 ? queries['segmento'] = segmento.cod : queries['segmento'] = null; 
                                i > 0 ? queries['area'] = segmento.areaCod : queries['segmento'] = null;" class="dropdown-item">{{ segmento.nome }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-2 col-xs-6 btn-group visible-xs-inline-block">
                <select class="form-control" aria-labelledby="seletorSegmentoDoProjeto" [ngModel]="queries['segmento']"
                  (change)="mudarSegmentoPorSelect($event)"
                  [ngClass]="{'cheio': queries['segmento'] !== undefined && queries['segmento'] !== ''}">
                  <option [value]="i > 0 ? segmento.cod : null" *ngFor="let segmento of segmentosDeProjetos.segmentosFiltrados(queries['area']); let i = index">{{ segmento.nome }} </option>
                </select>
                <div class="form-control-placeholder">Segmento</div>
              </div>
              <!-- UF ==============================================-->        
              <div class="input col-sm-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== null && queries['UF'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ queries['UF'] }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder">UF</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorEstados">
                  <li *ngFor="let estado of estados.listaEstados; let i = index" role="menuitem">
                    <a (click)="i > 0 ? queries['UF'] = estado.UF : queries['UF'] = null">{{ estado.nome }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-2 col-xs-6 btn-group visible-xs-inline-block">
                <select id="seletorEstados" class="form-control" aria-labelledby="seletorEstados" [ngModel]="queries['UF']"
                (change)="mudarEstadoPorSelect($event)" 
                [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== ''}">
                  <option [value]="i > 0 ? estado.UF : ''" *ngFor="let estado of estados.listaEstados; let i = index">{{ estado.nome }}</option>
                </select>
                <div class="form-control-placeholder">UF</div>
              </div>

            </div>
            <div *ngSwitchCase="'projetos'"  class="row">
              <!-- NOME DO PROPONENTE ==========================================-->
              <div class="input col-sm-3">
                <input type="text" [(ngModel)]="queries['proponente']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['proponente'] !== undefined && queries['proponente'] !== null && queries['proponente'] !== ''}">
                <div class="form-control-placeholder">Nome do Proponente</div>
              </div>
              <div class="input col-sm-3">
                <input type="text" [(ngModel)]="queries['cgccpf']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['cgccpf'] !== undefined && queries['cgccpf'] !== null && queries['cgccpf'] !== ''}">
                <div class="form-control-placeholder">CPF/CNPJ</div>
              </div>    
              <!-- DATA DE INÍCIO ============================================-->
              <div class="input calendario col-sm-3 col-xs-6">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioInicioProjeto"
                        [(ngModel)]="dataInicioProjeto" 
                        [options]="opcoesCalendario" 
                        #dp="ngx-mydatepicker" 
                        (dateChanged)="onObterDataInicioProjeto($event)"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataInicioProjetoValida = true : dataInicioProjetoValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_inicio_min'] !== undefined && queries['data_inicio_min'] !== null && queries['data_inicio_min'] !== '', 'invalido': !dataInicioProjetoValida }"/>
                  <div class="form-control-placeholder">Início a partir de</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
              <!-- DATA DE TÉRMINO ============================================-->
              <div class="input calendario calendario-direita col-sm-3 col-xs-6 visible-inline-md hidden-sm hidden-xs">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioTerminoProposta"
                        [(ngModel)]="dataTerminoProjeto" 
                        [options]="opcoesCalendario" 
                        #dp2="ngx-mydatepicker" 
                        (dateChanged)="onObterDataTerminoProjeto($event);"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataTerminoProjetoValida = true : dataTerminoProjetoValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_termino_max'] !== undefined && queries['data_termino_max'] !== null && queries['data_termino_max'] !== '', 'invalido': !dataTerminoProjetoValida }"/>
                  <div class="form-control-placeholder">Término até</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp2.clearDate(); dp2.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
              <div class="input calendario col-sm-3 col-xs-6 hidden-lg hidden-md visible-inline-sm">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioTerminoProjeto"
                        [(ngModel)]="dataTerminoProjeto" 
                        [options]="opcoesCalendario2" 
                        #dp3="ngx-mydatepicker" 
                        (dateChanged)="onObterDataTerminoProjeto($event);"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataTerminoProjetoValida = true : dataTerminoProjetoValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_termino_max'] !== undefined && queries['data_termino_max'] !== null && queries['data_termino_max'] !== '', 'invalido': !dataTerminoProjetoValida }"/>
                  <div class="form-control-placeholder">Término até</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp3.clearDate(); dp3.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
            </div>
           <!-- PROPOSTAS BUSCA AVANÇADA ====================================================================================== -->
            <div *ngSwitchCase="'propostas'" class="row">
              <div class="input col-sm-6">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome da proposta</div>
              </div>
              <!-- DATA DE INÍCIO ============================================-->
              <div class="input calendario col-sm-3 col-xs-6">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioInicioProposta"
                        [(ngModel)]="dataInicioProposta" 
                        [options]="opcoesCalendario" 
                        #dp="ngx-mydatepicker" 
                        (dateChanged)="onObterDataInicioProposta($event)"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataInicioPropostaValida = true : dataInicioPropostaValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_inicio_min'] !== undefined && queries['data_inicio_min'] !== null && queries['data_inicio_min'] !== '', 'invalido': !dataInicioPropostaValida }"/>
                  <div class="form-control-placeholder">Início a partir de</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
              <!-- DATA DE TÉRMINO ============================================-->
              <div class="input calendario col-sm-3 col-xs-6 visible-inline-md hidden-sm hidden-xs">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioTerminoProposta"
                        [(ngModel)]="dataTerminoProposta" 
                        [options]="opcoesCalendario" 
                        #dp4="ngx-mydatepicker" 
                        (dateChanged)="onObterDataTerminoProposta($event);"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataTerminoPropostaValida = true : dataTerminoPropostaValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_termino_max'] !== undefined && queries['data_termino_max'] !== null && queries['data_termino_max'] !== '', 'invalido': !dataTerminoPropostaValida }"/>
                  <div class="form-control-placeholder">Término até</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp4.clearDate(); dp4.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
              <div class="input calendario col-sm-3 col-xs-6 hidden-lg hidden-md visible-inline-sm">
                  <input class="form-control" 
                        style="float:none" placeholder="" 
                        ngx-mydatepicker name="calendarioTerminoProposta"
                        [(ngModel)]="dataTerminoProposta" 
                        [options]="opcoesCalendario2" 
                        #dp5="ngx-mydatepicker" 
                        (dateChanged)="onObterDataTerminoProposta($event);"
                        (inputFieldChanged)="$event.value.length === 0 ?  dataTerminoPropostaValida = true : dataTerminoPropostaValida = $event.valid;"
                        [ngClass]="{'cheio': queries['data_termino_max'] !== undefined && queries['data_termino_max'] !== null && queries['data_termino_max'] !== '', 'invalido': !dataTerminoPropostaValida }"/>
                  <div class="form-control-placeholder">Término até</div>
                  <span class="input-group-btn">
                      <!--<button type="button" class="btn btn-default" (click)="dp2.clearDate()">
                          <i class="glyphicon glyphicon-remove"></i>
                      </button>-->
                      <button type="button" class="btn btn-default" (click)="dp5.clearDate(); dp5.toggleCalendar()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                  </span>
              </div>
            </div>
            <!-- PROPONENTES BUSCA AVANÇADA ====================================================================================== -->
            <div *ngSwitchCase="'proponentes'" class="row">
              <div class="input col-sm-3">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome do proponente</div>
              </div>
              <div class="input col-sm-3 col-xs-6">
                <input type="text" [(ngModel)]="queries['cgccpf']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['cgccpf'] !== undefined && queries['cgccpf'] !== null && queries['cgccpf'] !== ''}">
                <div class="form-control-placeholder">CPF/CNPJ</div>
              </div>
              <!-- TIPO DE PESSOA =========================================-->
              <div class="input col-sm-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['tipo_pessoa'] !== undefined && queries['tipo_pessoa'] !== null && queries['tipo_pessoa'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ queries['tipo_pessoa'] === 'fisica' ? tiposPessoa[1] : (queries['tipo_pessoa'] === 'juridica' ? tiposPessoa[2]: '') }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder hidden-sm">Pessoa</div>
                <div class="form-control-placeholder visible-inline-sm hidden-md hidden-lg">Pessoa</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorTipoDePessoa">
                  <li *ngFor="let tipo of tiposPessoa; let i = index" role="menuitem">
                    <a (click)="i > 0 ? (tipo === 'Física' ? queries['tipo_pessoa'] = 'fisica' : queries['tipo_pessoa'] = 'juridica') : queries['tipo_pessoa'] = null" class="dropdown-item">{{ tipo }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-2 col-xs-6 btn-group visible-xs-inline-block">
                <select class="form-control" aria-labelledby="seletorTipoPessoa" [ngModel]="queries['tipo_pessoa']"
                  (change)="mudarTipoPessoaPorSelect($event)"
                  [ngClass]="{'cheio': queries['tipo_pessoa'] !== undefined && queries['tipo_pessoa'] !== ''}">
                  <option [value]="i > 0 ? (tipo === 'Física' ? 'fisica' : 'juridica') : 'Qualquer tipo'" *ngFor="let tipo of tiposPessoa; let i = index">{{ tipo }} </option>
                </select>
                <div class="form-control-placeholder">Pessoa</div>
              </div>
              <!-- UF ==============================================-->        
              <div class="input col-sm-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== null && queries['UF'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ queries['UF'] }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder">UF</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorEstados">
                  <li *ngFor="let estado of estados.listaEstados; let i = index" role="menuitem">
                    <a (click)="i > 0 ? queries['UF'] = estado.UF : queries['UF'] = null">{{ estado.nome }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-2 col-xs-6 btn-group visible-xs-inline-block">
                <select id="seletorEstados" class="form-control" aria-labelledby="seletorEstados" [ngModel]="queries['UF']"
                (change)="mudarEstadoPorSelect($event)" 
                [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== ''}">
                  <option [value]="i > 0 ? estado.UF : ''" *ngFor="let estado of estados.listaEstados; let i = index">{{ estado.nome }}</option>
                </select>
                <div class="form-control-placeholder">UF</div>
              </div>
              <!-- MUNICIPIO ==============================================-->  
              <div class="input col-sm-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['municipio']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['municipio'] !== undefined && queries['municipio'] !== null && queries['municipio'] !== ''}">
                <div class="form-control-placeholder">Município</div>
              </div>
            </div>
            <!-- INCENTIVADORES BUSCA AVANÇADA ====================================================================================== -->
            <div *ngSwitchCase="'incentivadores'" class="row">
              <div class="input col-sm-6 col-md-3">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome do incentivador</div>
              </div>
              <div class="input col-sm-3 col-md-2">
                <input type="number" [(ngModel)]="queries['cgccpf']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['cgccpf'] !== undefined && queries['cgccpf'] !== null && queries['cgccpf'] !== ''}">
                <div class="form-control-placeholder">CPF/CNPJ</div>
              </div>
              <div class="input col-sm-3 col-md-2 col-xs-6">
                <input type="number" [(ngModel)]="queries['PRONAC']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['PRONAC'] !== undefined && queries['PRONAC'] !== null && queries['PRONAC'] !== ''}">
                <div class="form-control-placeholder">PRONAC</div>
              </div>
              <!-- TIPO DE PESSOA =========================================-->
              <div class="input col-sm-3 col-md-2 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['tipo_pessoa'] !== undefined && queries['tipo_pessoa'] !== null && queries['tipo_pessoa'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ queries['tipo_pessoa'] === 'fisica' ? tiposPessoa[1] : (queries['tipo_pessoa'] === 'juridica' ? tiposPessoa[2]: '') }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder hidden-sm">Pessoa</div>
                <div class="form-control-placeholder visible-inline-sm hidden-md hidden-lg">Pessoa</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorTipoDePessoa">
                  <li *ngFor="let tipo of tiposPessoa; let i = index" role="menuitem">
                    <a (click)="i > 0 ? (tipo === 'Física' ? queries['tipo_pessoa'] = 'fisica' : queries['tipo_pessoa'] = 'juridica') : queries['tipo_pessoa'] = null" class="dropdown-item">{{ tipo }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-3 col-md-2 col-xs-6 btn-group visible-xs-inline-block">
                <select class="form-control" aria-labelledby="seletorTipoPessoa" [ngModel]="queries['tipo_pessoa']"
                  (change)="mudarTipoPessoaPorSelect($event)"
                  [ngClass]="{'cheio': queries['tipo_pessoa'] !== undefined && queries['tipo_pessoa'] !== ''}">
                  <option [value]="i > 0 ? (tipo === 'Física' ? 'fisica' : 'juridica') : 'Qualquer tipo'" *ngFor="let tipo of tiposPessoa; let i = index">{{ tipo }} </option>
                </select>
                <div class="form-control-placeholder">Pessoa</div>
              </div>
              <!-- UF ==============================================-->        
              <div class="input col-sm-3 col-md-1 col-xs-6 btn-group hidden-xs" dropdown>
                <button class="btn btn-default form-control text-left dropdown-toggle" [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== null && queries['UF'] !== ''}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" dropdownToggle>
                  {{ queries['UF'] }}
                  <span class="caret"></span> 
                </button>
                <div class="form-control-placeholder">UF</div>
                <ul class="dropdown-menu" role="menu" aria-labelledby="seletorEstados">
                  <li *ngFor="let estado of estados.listaEstados; let i = index" role="menuitem">
                    <a (click)="i > 0 ? queries['UF'] = estado.UF : queries['UF'] = null">{{ estado.nome }}</a>
                  </li>
                </ul>
              </div>
              <div class="input col-sm-3 col-xs-6 btn-group visible-xs-inline-block">
                <select id="seletorEstados" class="form-control" aria-labelledby="seletorEstados" [ngModel]="queries['UF']"
                (change)="mudarEstadoPorSelect($event)" 
                [ngClass]="{'cheio': queries['UF'] !== undefined && queries['UF'] !== ''}">
                  <option [value]="i > 0 ? estado.UF : ''" *ngFor="let estado of estados.listaEstados; let i = index">{{ estado.nome }}</option>
                </select>
                <div class="form-control-placeholder">UF</div>
              </div>
              <!-- MUNICIPIO ==============================================-->  
              <div class="input col-sm-6 col-md-2 col-xs-6">
                <input type="text" [(ngModel)]="queries['municipio']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['municipio'] !== undefined && queries['municipio'] !== null && queries['municipio'] !== ''}">
                <div class="form-control-placeholder">Município</div>
              </div>
            </div>
            <!-- FORNECEDORES BUSCA AVANÇADA ====================================================================================== -->
            <div *ngSwitchCase="'fornecedores'" class="row">
              <div class="input col-sm-5">
                <input type="text" [(ngModel)]="queries['nome']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['nome'] !== undefined && queries['nome'] !== null && queries['nome'] !== ''}">
                <div class="form-control-placeholder">Nome do fornecedor</div>
              </div>
              <div class="input col-sm-4 col-xs-6">
                <input type="number" [(ngModel)]="queries['cgccpf']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['cgccpf'] !== undefined && queries['cgccpf'] !== null && queries['cgccpf'] !== ''}">
                <div class="form-control-placeholder">CPF/CNPJ</div>
              </div>
              <div class="input col-sm-3 col-xs-6">
                <input type="number" [(ngModel)]="queries['PRONAC']" (keypress)="onRealizarBuscaComEnter($event)" class="form-control" [ngClass]="{'cheio': queries['PRONAC'] !== undefined && queries['PRONAC'] !== null && queries['PRONAC'] !== ''}">
                <div class="form-control-placeholder hidden-xs">PRONAC de projeto</div>
                <div class="form-control-placeholder hidden-md hidden-lg hidden-sm">PRONAC</div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer da Busca ============================================================== -->   
          <div class="row footer-busca">
            <div class="col-lg-12">
            <a (click)="buscaAvancada = !buscaAvancada">{{ buscaAvancada ? '&#x25B4; Busca Simples' : '&#x25B8; Busca Avançada' }}</a>
            <button *ngIf="buscaAvancada" class="btn btn-primary pull-right" type="submit" (click)="onRealizarBusca()">BUSCAR</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="container-header-resultados row">

    <div *ngIf="passouDoScrollTop() && !buscaSemResultados && !carregandoDados">
      <div class="header-respostas fixo col-lg-12">
        <div class="row">
          <!-- FILTRAGEM PELOS CHIPS ==============================================-->

          <div id="containerChips" class="container-chips col-lg-7 col-md-6 col-sm-12 col-xs-3"> 
            <p class="header-respostas-titulo hidden-xs">Filtragem: </p>
            <div id="containerChipsRow" class="hidden-xs">   
              <div class="chip-wrapper" *ngFor="let key of checaChipsValidos(keys(queriesRecebidas))">
                <div class="chip" *ngIf="queriesRecebidas[key] != null && queriesRecebidas[key] != '' && queriesRecebidas[key] != undefined" >
                    {{ formataChip (key) }}
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)='removeQuery(key)'></span>
                </div>
              </div>
              <span *ngIf="checaChipsValidos(keys(queriesRecebidas)).length <= 0">Nenhum filtro de pesquisa.</span>
            </div>
            <button id="containerChipsButton" (click)="filtrosEscondido = !filtrosEscondido;" type="button" class="btn btn-default hidden-xs" aria-label="Left Align">{{ filtrosEscondido ? 'mais' : 'menos' }}</button>
            <a id="containerChipsButton" (click)="filtrosEscondido = !filtrosEscondido;" type="button" class="visible-xs-inline-block" aria-label="Left Align">{{ filtrosEscondido ? '&#x25B8; Filtros' : '&#x25BE; Filtros' }}</a>
          </div>
          <div class="hidden-lg hidden-md container-chips-panel col-sm-12" [ngStyle]="{ display: filtrosEscondido ? 'none' : 'inline-block' }">   
            <div class="chip-wrapper" *ngFor="let key of checaChipsValidos(keys(queriesRecebidas))">
              <div class="chip" *ngIf="queriesRecebidas[key] != null && queriesRecebidas[key] != '' && queriesRecebidas[key] != undefined" >
                    {{ formataChip (key) }}
                <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)='removeQuery(key)'></span>
              </div>
            </div>
            <span *ngIf="checaChipsValidos(keys(queriesRecebidas)).length <= 0">Nenhum filtro de pesquisa.</span>
          </div>

          <!-- ORDENAÇÃO ==============================================-->

          <div class="container-ordenacao col-lg-5 col-md-6 col-sm-12 col-xs-9">  
            <p *ngIf="keys(ordenarPorQueries).length > 0" class="header-respostas-titulo hidden-xs">Ordenar por: </p>
            <div *ngIf="keys(ordenarPorQueries).length > 0" aria-label="Ordenação" dropdown>
              <button class="btn btn-default dropdown-toggle" type="button" id="seletorOrdenarPor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  dropdownToggle>
                <span class="hidden-xs">{{ ordenarPorQueries[ordenarPor] }}</span>
                <span class="visible-xs-inline-block">Ordenar</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="seletorOrdenarPor">
                <li *ngFor="let key of keys(ordenarPorQueries)" role="menuitem"><a (click)="ordenarPor = key; onRealizarBusca();" class="dropdown-item">{{ ordenarPorQueries[key] }}</a></li>
              </ul>
            </div>
            <div *ngIf="keys(ordenarPorQueries).length > 0" aria-label="Ordenação" class="btn-group" role="group">
              <button (click)="ordenarDesc = !ordenarDesc; onRealizarBusca();" title="Ordenação crescente"  [ngClass]="{'disabled': !ordenarDesc, 'enabled': ordenarDesc }" type="button" class="btn btn-default" alt="Ordenação crescente" aria-label="Ordenação crescente">
                <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
              </button>
              <button (click)="ordenarDesc = !ordenarDesc; onRealizarBusca();" title="Ordenação decrescente" [ngClass]="{'enabled': !ordenarDesc, 'disabled': ordenarDesc }" type="button" class="btn btn-default" alt="Ordenação decrescente" aria-label="Ordenação decrescente">
                <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
              </button>
            </div>
            
            <!-- BAIXAR CONSULTA ==============================================-->
           <span class="container-baixar">
              <button (click)="baixarCSVDaConsulta()" class="btn btn-default" [ngClass]="{'enabled': !carregandoDados, 'disabled': carregandoDados }"><span class="visible-xs-inline visible-lg-inline visible-md-inline hidden-sm">Baixar </span><span class="hidden-xs visible-sm-inline hidden-md">Baixar consulta </span><span class="glyphicon glyphicon-download" ></span></button>
            </span>
          </div>  

        </div>
      </div>
    </div>
      
    <div id="headerRespostas" class="header-respostas col-lg-12">
      <div class="row">
        <!-- FILTRAGEM PELOS CHIPS ==============================================-->

        <div id="containerChips" class="container-chips col-lg-7 col-md-6 col-sm-12 col-xs-3"> 
          <p class="header-respostas-titulo hidden-xs">Filtragem: </p>
          <div id="containerChipsRow" class="hidden-xs">   
            <div class="chip-wrapper" *ngFor="let key of checaChipsValidos(keys(queriesRecebidas))">
              <div class="chip" *ngIf="queriesRecebidas[key] != null && queriesRecebidas[key] != '' && queriesRecebidas[key] != undefined" >
                  {{ formataChip (key) }}
                <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)='removeQuery(key)'></span>
              </div>
            </div>
            <span *ngIf="checaChipsValidos(keys(queriesRecebidas)).length <= 0">Nenhum filtro de pesquisa.</span>
          </div>
          <button id="containerChipsButton" (click)="filtrosEscondido = !filtrosEscondido;" type="button" class="btn btn-default hidden-xs" aria-label="Left Align">{{ filtrosEscondido ? 'mais' : 'menos' }}</button>
          <a id="containerChipsButton" (click)="filtrosEscondido = !filtrosEscondido;" type="button" class="visible-xs-inline-block" aria-label="Left Align">{{ filtrosEscondido ? '&#x25B8; Filtros' : '&#x25BE; Filtros' }}</a>
        </div>
        <div class="hidden-lg hidden-md container-chips-panel col-sm-12" [ngStyle]="{ display: filtrosEscondido ? 'none' : 'inline-block' }">   
          <div class="chip-wrapper" *ngFor="let key of checaChipsValidos(keys(queriesRecebidas))">
            <div class="chip" *ngIf="queriesRecebidas[key] != null && queriesRecebidas[key] != '' && queriesRecebidas[key] != undefined" >
                  {{ formataChip (key) }}
              <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)='removeQuery(key)'></span>
            </div>
          </div>
          <span *ngIf="checaChipsValidos(keys(queriesRecebidas)).length <= 0">Nenhum filtro de pesquisa.</span>
        </div>

        <!-- ORDENAÇÃO ==============================================-->

        <div class="container-ordenacao col-lg-5 col-md-6 col-sm-12 col-xs-9">  
          <p *ngIf="keys(ordenarPorQueries).length > 0" class="header-respostas-titulo hidden-xs">Ordenar por: </p>
          <div *ngIf="keys(ordenarPorQueries).length > 0" dropdown aria-label="Ordenação">
            <button class="btn btn-default dropdown-toggle" type="button" id="seletorOrdenarPor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  dropdownToggle>
              <span class="hidden-xs">{{ ordenarPorQueries[ordenarPor] }}</span>
              <span class="visible-xs-inline-block">Ordenar</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="seletorOrdenarPor">
              <li *ngFor="let key of keys(ordenarPorQueries)" role="menuitem"><a (click)="ordenarPor = key; onRealizarBusca();" class="dropdown-item">{{ ordenarPorQueries[key] }}</a></li>
            </ul>
          </div>
          <div *ngIf="keys(ordenarPorQueries).length > 0" class="btn-group" role="group" aria-label="Ordenação">
            <button (click)="ordenarDesc = !ordenarDesc; onRealizarBusca();" title="Ordenação crescente"  [ngClass]="{'disabled': !ordenarDesc, 'enabled': ordenarDesc }" type="button" class="btn btn-default" alt="Ordenação crescente" aria-label="Ordenação crescente">
              <span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
            </button>
            <button (click)="ordenarDesc = !ordenarDesc; onRealizarBusca();" title="Ordenação decrescente" [ngClass]="{'enabled': !ordenarDesc, 'disabled': ordenarDesc }" type="button" class="btn btn-default" alt="Ordenação decrescente" aria-label="Ordenação decrescente">
              <span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            </button>
          </div>

          <!-- BAIXAR CONSULTA ==============================================-->
          <span class="container-baixar">
            <button (click)="baixarCSVDaConsulta()" class="btn btn-default" [ngClass]="{'enabled': !carregandoDados, 'disabled': carregandoDados }"><span class="visible-xs-inline visible-lg-inline visible-md-inline hidden-sm">Baixar </span><span class="hidden-xs visible-sm-inline hidden-md">Baixar consulta </span><span class="glyphicon glyphicon-download" ></span></button>
          </span>
        </div>  

      </div>
    </div>
  </div>

  <!-- PAGINACAO, QUANDO DISPONÍVEL =================================================================================-->  
  <div class="col-lg-12 col-sm-12" [ngStyle]="{'display': !buscaSemResultados && !carregandoDados? 'block' : 'none' }">

    <!-- PAGINAÇÃO ==============================================-->
    <div class="row container-paginacao">
      <div class="col-sm-4 col-xs-6 quantidade-respostas">
        <p><span class="hidden-xs">Exibindo itens</span><span class="visible-xs-inline">Itens</span> {{ obterStringDeQuantidadeNaResposta() }} de {{ totalDeItems }}.</p>
      </div>
  
      <div class="col-sm-4 col-xs-6 itens-por-pagina" >
        <p>Itens por página: </p>
        <div dropdown>
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="seletorNumeroDeItens" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  dropdownToggle>
            {{ configurationService.limitResultados }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="seletorOrdenarPor">
            <li *ngFor="let limit of opcoesDePaginacao" role="menuitem"><a (click)="configurationService.limitResultados = limit; onRealizarBusca();" class="dropdown-item">{{ limit }}</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12 paginacao-superior" *ngIf="numeroDeItems > 0">

        <pagination [totalItems]="totalDeItems" 
                    (pageChanged)="paginaAtual = $event.page; onTrocaPagina(paginaAtual)" 
                    [maxSize]=" maximoBotoes - 2" 
                    class="pagination-sm"
                    [boundaryLinks]="true" 
                    [rotate]="false"  
                    [(ngModel)]="paginaAtual"
                    nextText="&#x25B8;"
                    lastText="&#x25B8;&#x25B8;"
                    firstText="&#x25C2;&#x25C2;"
                    previousText="&#x25C2;"></pagination>
      </div>
    </div>
  </div>


  <div [@subirRespostas]='subirRespostasEstado' class="container-respostas">
    <div class="col-lg-12 col-sm-12" [ngSwitch]="pesquisaPor" *ngIf="!buscaSemResultados && !carregandoDados">  

      <!-- GRADE OU LISTA DE RESULTADOS =================================================================================-->
      <div *ngSwitchCase="'projetos'" class="row">
        <div *ngFor="let projeto of listaProjetos;" class="card col-sm-12 col-md-6 col-lg-4" role="group">
          <div class="card-header texto-elipsado" title="{{ projeto.nome }}"><p>{{ projeto.nome }}</p></div>
          <div class="card-resposta texto-elipsado">
            <div class="row">
              <div class="col-sm-3"><p class="resposta-label">PRONAC: </p><p class="resposta-valor">{{ projeto.PRONAC }}</p></div>
              <div class="col-sm-4 col-xs-6"><p class="resposta-label">Segmento: </p><p class="resposta-valor">{{ projeto.segmento }}</p></div>
              <div class="col-sm-5 col-xs-6"><p class="resposta-label">Área: </p><p class="resposta-valor">{{ projeto.area }}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-7"><p class="resposta-label">Proponente: </p><p class="resposta-valor">{{ projeto.proponente }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">CPF/CNPJ: </p><p class="resposta-valor">{{ dataFormatterService.formataCGCCPF(projeto.cgccpf) }}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-7"><p class="resposta-label">Data: </p><p class="resposta-valor">{{ dataFormatterService.formataData(projeto.data_inicio) }} - {{ dataFormatterService.formataData(projeto.data_inicio) }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">Município: </p><p class="resposta-valor">{{ projeto.municipio }}, {{ projeto.UF }}</p></div>
            </div>
            <div class="row">
              <div class="col-xs-7"><p class="resposta-label">Valor Projeto: </p><p class="resposta-valor-destaque" title="{{ dataFormatterService.formataValorEmReais(projeto.valor_projeto) }}">{{ dataFormatterService.formataValorEmReais(projeto.valor_projeto) }}</p></div>
              <div class="col-xs-5"><p class="resposta-label">Valor Captado: </p><p class="resposta-valor-destaque" title="{{ dataFormatterService.formataValorEmReais(projeto.valor_captado) }}">{{ dataFormatterService.formataValorEmReais(projeto.valor_captado) }}</p></div>
            </div>                
          </div>
          <div class="card-botoes-container">
            <div class="card-botoes" [ngStyle]="{'border-top-color': !projeto.isResumoEscondido ? '#b3b3b3' : '#293623', 'border-left-color': !projeto.isResumoEscondido ? '#b3b3b3' : '#293623'}">
              <span class="card-botao-resumo" (click)="projeto.isResumoEscondido = !projeto.isResumoEscondido"
                   [ngStyle]="{'background-color': !projeto.isResumoEscondido ? '#e0e0e0' : '#293623', 'border-color': !projeto.isResumoEscondido ? '#b3b3b3' : '#293623', 'border-bottom-right-radius': !projeto.isResumoEscondido ? '0px' : '5px'}">
                <a [ngStyle]="{'color': projeto.isResumoEscondido ? 'white' : '#226000'}">{{ !projeto.isResumoEscondido ? '&#9656;' : '&#9652;' }}&nbsp; RESUMO</a>
              </span>
              
              <div class="card-botao-ver">
                <a [routerLink]="['/projetos', projeto.PRONAC]" ><img alt="Ícone de Projetos" class="card-icon" src="../../../assets/ic_projetos.svg"/> &nbsp; VER PROJETO</a>
              </div>
            </div>
          </div>
          <div class="card-resumo" [ngStyle]="{'top': projeto.isResumoEscondido ? '59px' : '101%', 'background-color': projeto.isResumoEscondido ? 'rgba(32, 46, 26, 0.95)' : 'rgba(32, 46, 26, 0.0);'  }">
            <p role="contentinfo">{{projeto.resumo}}</p>
          </div>
        </div>
      </div>
      
      <div *ngSwitchCase="'propostas'" class="row">
        <div *ngFor="let proposta of listaPropostas" class="card card-proposta col-sm-12 col-md-6 col-lg-4">
          <div class="card-header texto-elipsado" title="{{ proposta.nome }}"><p>{{ proposta.nome }}</p></div>
          <div class="card-resposta texto-elipsado">
            <div class="row">
              <div class="col-sm-6"><p class="resposta-label">Mecanismo: </p><p class="resposta-valor">{{ proposta.mecanismo }}</p></div>
              <div class="col-sm-6"><p class="resposta-label">Data Arquivamento: </p><p class="resposta-valor">{{ dataFormatterService.formataData(proposta.data_arquivamento) }}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-6"><p class="resposta-label">Data Início: </p><p class="resposta-valor">{{ dataFormatterService.formataData(proposta.data_inicio) }}</p></div>
              <div class="col-sm-6"><p class="resposta-label">Data Término: </p><p class="resposta-valor">{{ dataFormatterService.formataData(proposta.data_termino) }}</p></div>
            </div>                
          </div>
          <div class="card-botoes-container">
            <div class="card-botoes" [ngStyle]="{'border-top-color': !proposta.isResumoEscondido ? '#b3b3b3' : '#293623', 'border-left-color': !proposta.isResumoEscondido ? '#b3b3b3' : '#293623'}">
              <span class="card-botao-resumo" (click)="proposta.isResumoEscondido = !proposta.isResumoEscondido"
                   [ngStyle]="{'background-color': !proposta.isResumoEscondido ? '#e0e0e0' : '#293623', 'border-color': !proposta.isResumoEscondido ? '#b3b3b3' : '#293623', 'border-bottom-right-radius': !proposta.isResumoEscondido ? '0px' : '5px'}">
                <a [ngStyle]="{'color': proposta.isResumoEscondido ? 'white' : '#226000'}">{{ !proposta.isResumoEscondido ? '&#9656;' : '&#9652;' }}&nbsp; RESUMO</a>
              </span>
              
              <div class="card-botao-ver">
                <a [routerLink]="['/propostas', proposta.id]" ><img class="card-icon" alt="Ícone de Propostas" src="../../../assets/ic_propostas.svg"/> &nbsp; VER PROPOSTA</a>
              </div>
            </div>
          </div>
          <div class="card-resumo" [ngStyle]="{'top': proposta.isResumoEscondido ? '59px' : '101%', 'background-color': proposta.isResumoEscondido ? 'rgba(32, 46, 26, 0.95)' : 'rgba(32, 46, 26, 0.0);'  }">
            <p role="contentinfo">{{proposta.resumo}}</p>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'proponentes'" class="row">
        <div *ngFor="let proponente of listaProponentes" class="card card-proponente col-sm-12 col-md-6 col-lg-4">
          <div class="card-header texto-elipsado" title="{{ proponente.nome }}"><p>{{ proponente.nome }}</p></div>
          <div class="card-resposta texto-elipsado">
            <div class="row">
              <div class="col-sm-3"><p class="resposta-label">Pessoa: </p><p class="resposta-valor">{{ dataFormatterService.formataTipoPessoa(proponente.tipo_pessoa)  }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">{{ proponente.tipo_pessoa === 'fisica' ? 'CPF' : 'CNPJ' }}: </p><p class="resposta-valor" title="{{ dataFormatterService.formataCGCCPF(proponente.cgccpf) }}">{{ dataFormatterService.formataCGCCPF(proponente.cgccpf) }}</p></div> 
              <div class="col-sm-4"><p class="resposta-label">Município: </p><p class="resposta-valor" title="{{ proponente.municipio }}">{{ proponente.municipio }}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><p class="resposta-label">UF: </p><p class="resposta-valor">{{ proponente.UF }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">Responsável: </p><p class="resposta-valor">{{ proponente.responsavel }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">Total Captado: </p><p class="resposta-valor-destaque">{{ dataFormatterService.formataValorEmReais(proponente.total_captado) }}</p></div>
            </div> 
            <div class="card-botoes-container">
              <div class="card-botoes">
                <div class="card-botao-ver col-xs-12">
                  <a [routerLink]="['/proponentes', dataFormatterService.extraiIdDaUrl(proponente._links.self)]" ><img class="card-icon" alt="Ícone de Proponentes" src="../../../assets/ic_proponentes.svg"/> VER PROPONENTE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'incentivadores'" class="row">
        <div *ngFor="let incentivador of listaIncentivadores" class="card card-proponente col-sm-12 col-md-6 col-lg-4">
          <div class="card-header texto-elipsado" title="{{ incentivador.nome }}"><p>{{ incentivador.nome }}</p></div>
          <div class="card-resposta texto-elipsado">
            <div class="row">
              <div class="col-sm-3"><p class="resposta-label">Pessoa: </p><p class="resposta-valor">{{ dataFormatterService.formataTipoPessoa(incentivador.tipo_pessoa) }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">CPF/CNPJ: </p><p class="resposta-valor" title="{{ dataFormatterService.formataCGCCPF(incentivador.cgccpf) }}">{{ dataFormatterService.formataCGCCPF(incentivador.cgccpf) }}</p></div> 
              <div class="col-sm-4"><p class="resposta-label">Município: </p><p class="resposta-valor" title="{{ incentivador.municipio }}">{{ incentivador.municipio }}</p></div>
            </div>
            <div class="row">
              <div class="col-sm-2"><p class="resposta-label">UF: </p><p class="resposta-valor">{{ incentivador.UF }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">Responsável: </p><p class="resposta-valor">{{ incentivador.responsavel }}</p></div>
              <div class="col-sm-5"><p class="resposta-label">Total Captado: </p><p class="resposta-valor-destaque">{{ dataFormatterService.formataValorEmReais(incentivador.total_doado) }}</p></div>
            </div> 
            <div class="card-botoes-container">
              <div class="card-botoes">
                <div class="card-botao-ver col-xs-12">
                  <a [routerLink]="['/incentivadores', dataFormatterService.extraiIdDaUrl(incentivador._links.self)]" ><img class="card-icon" alt="Ícone de Incentivadores" style="height: 1.3em" src="../../../assets/ic_incentivadores.svg"/> &nbsp; VER INCENTIVADOR</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngSwitchCase="'fornecedores'" class="row">
        <div *ngFor="let fornecedor of listaFornecedores" class="card card-proponente card-fornecedor col-sm-12 col-md-6 col-lg-4">
          <div class="card-header texto-elipsado" title="{{ fornecedor.nome }}"><p>{{ fornecedor.nome }}</p></div>
          <div class="card-resposta texto-elipsado">
            <div class="row">
              <div class="col-sm-6"><p class="resposta-label">CPF/CNPJ: </p><p class="resposta-valor" title="{{ dataFormatterService.formataCGCCPF(fornecedor.cgccpf) }}">{{ dataFormatterService.formataCGCCPF(fornecedor.cgccpf) }}</p></div> 
              <div class="col-sm-6"><p class="resposta-label">Email: </p><p class="resposta-valor">{{ fornecedor.email ? fornecedor.email : 'Não informado' }}</p></div>
            </div>
            <div class="card-botoes-container">
              <div class="card-botoes">
                <div class="card-botao-ver col-xs-12">
                  <a [routerLink]="['/fornecedores', dataFormatterService.extraiIdDaUrl(fornecedor._links.self)]" ><img class="card-icon" alt="Ícone de Fornecedores" src="../../../assets/ic_fornecedores.svg"/> &nbsp; VER FORNECEDOR</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="carregandoDados" class="spinner" role="progressbar">
    <sk-cube-grid [color]="'#226000'" [isRunning]="carregandoDados"></sk-cube-grid>
    <p *ngIf="taxaDuracaoCarregamento === 0">Buscando {{ pesquisaPor }}...</p>
    <p *ngIf="taxaDuracaoCarregamento === 5">Ordenando resultados...</p>
    <p *ngIf="taxaDuracaoCarregamento === 10">Ainda trabalhando...</p>
  </div>

  <alert role="alert" *ngIf="buscaSemResultados" class="col-lg-8 col-md-12 col-lg-offset-2" type="danger">
    <p>Não encontramos {{ pesquisaPor }} com estes parâmetros de pesquisa :(</p>
    <p>Experimente mudar os termos de busca ou filtros aplicados.</p>
  </alert>
      
  <div class="text-center" [ngStyle]="{ display: (numeroDeItems > 0) && !carregandoDados ? 'block' : 'none' }">
    <pagination [totalItems]="totalDeItems" 
                (pageChanged)="paginaAtual = $event.page; onTrocaPagina(paginaAtual);" 
                [maxSize]=" maximoBotoes + 2" 
                class="pagination-sm"
                [boundaryLinks]="true" 
                [rotate]="false"  
                [(ngModel)]="paginaAtual"
                nextText="&#x25B8;"
                lastText="&#x25B8;&#x25B8;"
                firstText="&#x25C2;&#x25C2;"
                previousText="&#x25C2;"></pagination>
  </div>

  <!-- MODAL PARA BAIXAR LISTA DE CSVs ===================================================================-->
  <div bsModal #modalDeCSVs="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Modal de Baixar CSVs" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Baixa CSVs da Consulta</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="esconderModalDeCSV()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>Há mais de 100 resultados nesta consulta.</strong> Nós só sonseguimos gerar CSVs com no máximo 100 itens por vez, por isso organizamos sua consulta por partes abaixo:</p>
          <ul *ngFor="let link of linksParaCSVs; let i = index;">
            <li>CSV com itens {{ i*(100) + 1 }} até {{ i*(100) + 100 }} <a download="consulta_teste.csv" filename="consulta_teste.csv" target="consulta_teste.csv" href="{{ link }}" class="btn btn-default pull-right">Baixar <span class="glyphicon glyphicon-download" ></span></a></li>
            <!--<li *ngIf=" i*(100) + 100 >= totalDeItems">CSV com itens {{ i*(100) + 1 }} até {{ totalDeItems + 1 }} <a href="{{ link }}"class="btn btn-default pull-right">Baixar <span class="glyphicon glyphicon-download" ></span></a></li>-->
            <br>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>