@import '../../../styles.scss';

// Container principal da página
.container-busca {
  background-color: #fbfbfb;
  overflow-x: hidden;
  width: 100%;

  h1, h2, h3, h4, h5 {
      color: $verde-salic;
  }
}


// Caixa de Pesquisa ------------------------------------------------------
.container-pesquisa {

    background-color: $verde-claro;

    .container-abas {
        background-color: $verde-claro-salic;
        height: 42px;
    }

    .linha { 
        border: 0 solid $verde-salic;
        height: 1px; 
        color: $verde-salic;
        background-color: $verde-salic; 
        margin: 0 -15px;
    }

    .container-inputs {
        padding: 0px 25px 15px 25px;

        .form-control-placeholder {
            position: absolute;
            top: 0;
            padding: 6px 0 0 12px;
            pointer-events: none;
            color: #aaa;
            transition: all 200ms;
        }

        .form-control:focus + .form-control-placeholder,
        .form-control.cheio + .form-control-placeholder {
            color: #444;
            font-size: 95%;
            top: -28px;
        }

        .input-group {
            padding: 15px;
        }

        .form-group {
            margin: 0px -15px 15px -15px;
            padding: 0px;

            .row {
                margin: 0px 0px;
                padding: 0px;
            }
            
            .row>.input { 
                margin-top: 28px; 
                padding-left: 5px;
                padding-left: 5px;
            }
        }

    }

    .footer-busca {
        a { cursor: pointer; }
        a:hover { color: $verde-salic }
    }
}

// Abas de Pesquisa ----------------------------------------------------------
.abas-pesquisa {
    
    position: relative;
    overflow: hidden;
	padding: 0px 5px;
  	height: 42px;
    line-height: 1;
    background-color: $verde-claro-salic;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // border-bottom: 2px solid $verde-salic;

    a { 
        color: black; 
        font-size: 1.3em;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px;

        &:hover {
            background-color: $verde-claro;
            border-bottom: 3px solid $verde-salic;
        }  
    }

    .active {
        a {
            color: black;
            background-color: transparent;
            border-bottom: 6px $verde-salic solid; 
        }
    }   

}

.aba {
    position:absolute;
    left:0px;
    top:0px;
  	min-width:3000px;
    margin-top: 0px;
    margin-left: 14px;

    li {
        display:table-cell;
        position:relative;
        text-align:center;
        color:#efefef;
        vertical-align:middle;
    }

}

.scroller {
  text-align:center;
  cursor:pointer;
  display:none;
  padding: 11px 10px;
  white-space:no-wrap;
  vertical-align:middle;
  background-color: $verde-salic;
  z-index: 999;

  i { color: white; }
}

.scroller-right{
  float: right;

}

.scroller-left {
  float: left;
}


// Header dos Resultados
.container-header-resultados {

    display: inline-block;

    .header-respostas {
        position: absolute;
        left: 0;
        padding: 6px 10px;
        vertical-align: middle;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        z-index: 99;
        
        @media all and (min-width: 992px){
            padding-left: 18%;
            padding-right: 18%;
        }

        h3 { display: inline-block; margin: 0px; padding-top: 5px; }
    }

    .fixo {
        min-height: 58px; 
        border-bottom: 2px solid $verde-salic;
        background-color:white; 
        width: 100% !important; 
        z-index: 99; 
        top: 0; 
        position: fixed;
    }

    .linha {
        background-color: $verde-salic;
        height: 2px;
        width: 100%;
        margin-top: 6px;
    }

    // Chips ----------------------------------------------------------
    .chip {
        display: inline-block;
        padding: 0 9px;
        height: 22px;
        font-size: 0.8em;
        line-height: 23px;
        border-radius: 8px;
        background-color: $verde-salic;
        margin-bottom: 5px;
        color: white;
    }

    .chip-wrapper {
        display: inline;
        margin: 2px 4px 2px 4px;
    }

    .chip-tag {
        padding: 0 0.8em;
        float: left;
        margin: 0 5px 0 -13px;
        height: 25px;
        min-width: 25px;
        border-radius: 8px 2px 2px 8px;
        background-color: #fdfdfd;
    }

}

// Ordenacao e paginação
.container-ordenacao {

    margin-top: 80px;
    // padding-left: 20px;
    // padding-right: 20px;

    .row { padding: 5px 0px; }

}

.container-paginacao {

    //background-color: $verde-claro;
    // padding-left: 20px;
    // padding-right: 20px;
    padding-top: 10px;   

    .paginacao-superior {
        margin-top: -18px;
        margin-bottom: -15px;
        text-align: end;

        @media all and (max-width: 768px){
            text-align: center;
        }

        .pagination-sm > li > a { padding: 70px; font-size: 16px !important; background-color: aqua}

    }

    p { display: inline-block; }

    .quantidade-respostas { 
        padding-top: 8px; 

        @media all and (max-width: 440px){
            text-align: center; 
            width: 100%;
        }
    }

    .itens-por-pagina { 
        text-align: center; 

        @media all and (max-width: 440px){
            width: 100%;
        }    
    }

}

// Resultados da Pesquisa 
.container-respostas {

    display: inline-block;
    width: 100%;

    .col-lg-8, .col-md-12 { padding: 0px; }

    .card {
        
        overflow: hidden;
        height: 615px;
        padding: 0px;
        margin-bottom: 10px; 

        @media all and (min-width: 768px){
            height: 330px;
        }        

        .texto-elipsado{
            p, h5, .card-title{
                width: 100%;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
            }
        }

        .card-header {
            background-color: $cinza;
            color: $verde-salic;
            margin: 10px 10px -10px 10px;
            padding: 10px 20px;
            border: 1px solid $cinza-escuro;
            border-bottom: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            p { margin-bottom: 0px; font-size: 1.25em;}
        }

        .card-resposta {
            background-color: $cinza-claro;
            border: 1px solid $cinza-escuro;
            padding: 20px 20px 65px 20px;
            margin: 10px;
            height: 615px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            @media all and (min-width: 768px){
                height: 274px;
            } 

            .resposta-label {
                font-size: 1.0em;
                font-weight: 300;
                margin-bottom: 0px;  
            }
            .resposta-valor {
                font-size: 1.25em;
            }
        }

        .card-resumo {
            background-color: rgba(32, 46, 26, 0.95);
            color: white;
            height: 605px;
            @media all and (min-width: 768px){
                height: 222px;
            }
            position: absolute;
            overflow-y: auto;
            top: 0%;
            padding: 20px 20px 65px 20px; 
            margin: 10px;
            transition-property: all;
            transition-duration: .5s;
            transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

            p { font-size: 1.15em }
        }

        .card-botoes {
            background-color: $cinza;
            position: relative;
            color: $verde-salic;
            border-top: 1px solid $cinza-escuro;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin: 0 -20px;
            height: 52px;
            padding: 20px;
            top: -20px;
            z-index: 30;

            a {
                font-size: 1.125;
            }
        }

    }

}

