<div class="container-fornecedor">
  <div  *ngIf="!carregandoDados" class="container">
    <h3>
      Página do Fornecedor de id: {{ idFornecedor }} 
    </h3>
    <share-buttons class="withCount" 
                  [url]="url" 
                  [title]="'Fornecedor: ' + fornecedor.nome" 
                  [description]="'VERSALIC - Portal de Visualização do Sistema de Apoio às Leis de Incentivo à Cultura.'"
                  [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
                  [showCount]="true" ></share-buttons>

    <div>
      <p>{{ JSON.stringify(fornecedor) }}</p>
      <!--<button (click)="onLoadProdutos(idFornecedor)">Carregar Produtos deste Fornecedor</button>-->
      <p *ngIf="carregandoDadosProdutos">Carregando produtos deste fornecedor...</p>
      <div *ngIf="!carregandoDadosProdutos">
        
        <h4 *ngIf="!buscaPorProdutosSemResultados">Produtos fornecidos:</h4>

        <div *ngFor="let produto of listaProdutos">
          <div class="panel panel-default container-fluid">
            <div class="panel-heading row">{{ produto.nome}} <button [routerLink]="['/projetos', produto.PRONAC]" type="button" class="btn btn-sm btn-success pull-right">Ver Projeto</button></div>
            <div class="panel-body">{{ JSON.stringify(produto) }}</div>
          </div>
        </div>

        <div *ngIf="buscaPorProdutosSemResultados">
          <p>Não encontramos Produtos pertencentes a este Fornecedor.</p>
        </div>

      </div>
    </div>
  </div>
  
</div>