<p>
  Página do Fornecedor de id: {{ idFornecedor }} 
</p>
<share-buttons class="withCount" 
              [url]="this.router.url" 
              [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
              [showCount]="true" ></share-buttons>
<a [routerLink]="['/', 'fornecedores']">Página Inicial</a>

<!--<button (click)="onLoadFornecedor(idFornecedor)">Carregar Fornecedor</button>-->
<p *ngIf="carregandoDados">Carregando fornecedor...</p>

<div *ngIf="!carregandoDados">
  <p>{{ JSON.stringify(fornecedor) }}</p>
  <!--<button (click)="onLoadProdutos(idFornecedor)">Carregar Produtos deste Fornecedor</button>-->
  <p *ngIf="carregandoDadosProdutos">Carregando produtos deste fornecedor...</p>
  <div *ngIf="!carregandoDadosProdutos">
    
    <h4 *ngIf="!buscaPorProdutosSemResultados">Produtos fornecidos:</h4>

    <div *ngFor="let produto of listaProdutos">
      <p>{{ produto.nome}} <button [routerLink]="['/projetos', produto.PRONAC]">VER PROJETO</button></p>
      <p>{{ JSON.stringify(produto) }}</p>
    </div>

    <div *ngIf="buscaPorProdutosSemResultados">
      <p>Não encontramos Produtos pertencentes a este Fornecedor.</p>
    </div>

  </div>
</div>