<div class="container-proponente">
  <div *ngIf="!carregandoDados" class="container">
    <h3>
      Página do Proponente de id: {{ idProponente }}
    </h3>
    <share-buttons class="withCount" 
                  [url]="url" 
                  [title]="'Proponente: ' + proponente.nome" 
                  [description]="'VERSALIC - Portal de Visualização do Sistema de Apoio às Leis de Incentivo à Cultura.'"
                  [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
                  [showCount]="true" ></share-buttons>
    
    <div class="row">
      <div class="col-md-8 col-md-offset-2" *ngIf="!carregandoDados">
        <!--<p>{{ JSON.stringify(proponente) }}</p>-->
        <!--<button (click)="onLoadProjetos(idProponente)">Carregar Projetos deste Proponente</button>-->
        <p *ngIf="carregandoDadosProjetos">Carregando doações deste incentivador...</p>
        <div *ngIf="!carregandoDadosProjetos">
          
          <h4 *ngIf="!buscaPorProjetosSemResultados">Projetos submetidos:</h4>
          <p *ngIf="totalDeItens > 1">Foram encontrados {{ totalDeItens }} projetos submetidos por este proponente: </p>
          <p *ngIf="totalDeItens == 1">Foi encontrado um projeto submetido por este proponente: </p>

          <div *ngFor="let projeto of listaProjetos">
            <div class="panel panel-default container-fluid">
              <div class="panel-heading row">{{ projeto.nome }} <button [routerLink]="['/projetos/' + projeto.PRONAC]" type="button" class="btn btn-sm btn-success pull-right">Ver Projeto</button></div>
              <div class="panel-body">{{ JSON.stringify(projeto.resumo) }}</div>
            </div>
          </div>

          <p *ngIf="totalDeItens > totalDeItensCarregado">Exibidos {{ totalDeItensCarregado }} projetos. <button (click)="carregarMaisProjetos()">EXIBIR MAIS</button></p>

          <div *ngIf="buscaPorProjetosSemResultados">
            <p>Não encontramos Projetos submetidos por este Proponente.</p>
          </div>

        </div>
      </div>
    </div> <!-- final da row -->
  </div>
</div>