<div class="container-sobre">
  <div class="container">
    <h1 class="pagina-titulo">
      Sobre o VERSALIC
    </h1>
  </div>
  <div class="linha-pagina-titulo"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><br>
        <p>O <b>VerSalic</b> é uma ferramenta para navegação através dos projetos culturais que recebem incentivos fiscais do Ministério da Cultura.</p>
        <p>Para saber mais sobre o incentivo acesse o <a href="http://rouanet.cultura.gov.br" target="_blank">Portal da Lei Rouanet</a>.</p>
        <p>Os dados aqui apresentados são consultados em tempo real na base do Sistema de Apoio às Leis de Incentivo à Cultura - SALIC através <a href="http://api.salic.cultura.gov.br" target="_blank">de sua API</a>.</p>
        <p>O código deste aplicativo está disponível no repositório do MinC em <a href="https://github.com/culturagovbr/VerSalic" target="_blank">github.com/CulturaGovBr</a>. Contribuições são bem vindas! o/</p>
      </div>
    </div>
  </div>
</div>