<div class="container-incentivador">
  <div class="barra-compartilhar">
    <div class="container">
      <span *ngIf="!carregandoDados" class="baixar"><p>
                <img class="botao-icone" alt="Ícone de incentivadores" src="../../../assets/ic_incentivadores.svg"/>
                &nbsp;Pagina de Incentivador - baixar:&nbsp;&nbsp;&nbsp;
                <span class="links"><a filename="incentivador.json" target="incentivador.json" href="{{ configurationService.ApiUrl + 'incentivadores/' + idIncentivador }}">json</a> | 
                <a filename="incentivador.csv" target="incentivador.csv" href="{{ configurationService.ApiUrl + 'incentivadores/' + idIncentivador + '?format=csv' }}">csv</a> | 
                <a filename="incentivador.xml" target="incentivador.xml" href="{{ configurationService.ApiUrl + 'incentivadores/' + idIncentivador + '?format=xml' }}">xml</a></span></p>
      </span>
      <div *ngIf="!carregandoDados" class="compartilhar"> 
        <p>Compartilhe:&nbsp;&nbsp;</p>
        <share-buttons class="withCount" 
                    [defaultStyle]="false"
                    [url]="url" 
                    [title]="'Incentivador: ' + incentivador.nome" 
                    [description]="'VERSALIC - Portal de Visualização do Sistema de Apoio às Leis de Incentivo à Cultura.'"
                    [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false" [linkedIn]="false"
                    [showCount]="true" ></share-buttons>
      </div>
    </div>
  </div>
  <div *ngIf="!carregandoDados  && incentivador != undefined" class="container">
    <h1 class="pagina-titulo">
      {{ incentivador.nome }}
    </h1>
  </div> 
  <div class="linha-pagina-titulo"></div>
  
  <div class="container">
    <div  *ngIf="!carregandoDados && incentivador != undefined" class="row">
      <div class="pagina-infos col-md-12">
        <div class="row">
          <div class="col-sm-2 col-xs-6"><p class="pagina-infos-label">Tipo de Pessoa: </p><p class="pagina-infos-valor">{{ dataFormatterService.formataTipoPessoa(incentivador.tipo_pessoa) }}</p></div>
          <div class="col-sm-3 col-xs-6"><p class="pagina-infos-label">CPF/CNPJ: </p><p class="pagina-infos-valor">{{ dataFormatterService.formataCGCCPF(incentivador.cgccpf) }}</p></div>
          <div class="col-sm-4 col-xs-6"><p class="pagina-infos-label">Responsável: </p><p class="pagina-infos-valor">{{ incentivador.responsavel }}</p></div>
          <div class="col-sm-3 col-xs-6"><p class="pagina-infos-label">Município, UF: </p><p class="pagina-infos-valor">{{ incentivador.municipio }}, {{ incentivador.UF }}</p></div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-xs-6"><p class="pagina-infos-label">Total captado: </p><p class="pagina-infos-valor-destaque">{{ dataFormatterService.formataValorEmReais(incentivador.total_doado) }}</p></div>
        </div>
      </div>    
    </div>  
    <div class="row">
      <div class="col-lg-12 col-sm-12" *ngIf="!carregandoDadosDoacoes">
        <div class="sessao-linha"></div>
        <p class="pagina-subtitulo" *ngIf="!buscaPorDoacoesSemResultados">Doações feitas:</p>
        <p *ngIf="totalDeItens > 1">Exibindo {{ obterStringDeQuantidadeNaResposta() }} de {{ totalDeItens }} doações feitas por este incentivador: </p>
        <p *ngIf="totalDeItens == 1">Foi encontrada uma doação feita por este incentivador: </p>
      </div>
    </div>
    <div class="row row-cards" *ngIf="!carregandoDadosDoacoes">
      <div *ngFor="let doacao of listaDoacoes" class="card card-proponente card-fornecedor col-sm-12 col-md-6">
        <div class="card-header texto-elipsado" title="{{ doacao.nome_projeto }}"><p>{{ doacao.nome_projeto }}</p></div>
        <div class="card-resposta texto-elipsado">
          <div class="row">
            <div class="col-sm-6"><p class="resposta-label">PRONAC: </p><p class="resposta-valor" title="{{ doacao.PRONAC }}">{{ doacao.PRONAC }}</p></div> 
            <div class="col-sm-6"><p class="resposta-label">Valor da doação: </p><p class="resposta-valor">{{ dataFormatterService.formataValorEmReais(doacao.valor) }}</p></div>
          </div>
          <div class="card-botoes-container">
            <div class="card-botoes">
              <div class="card-botao-ver col-xs-12">
                <a [routerLink]="['/projetos', doacao.PRONAC]" ><img class="card-icon" alt="Ícone de Projeto" src="../../../assets/ic_projetos.svg"/> &nbsp; VER PROJETO</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div *ngIf="buscaPorDoacoesSemResultados">
        <p>Não encontramos Doações feitas por este Incentivador.</p>
      </div>
    </div>

    <div class="text-center" [ngStyle]="{ display: !carregandoDadosDoacoes ? 'block' : 'none' }">
        <pagination [totalItems]="totalDeItens" 
                [(ngModel)]="paginaAtual" 
                (pageChanged)="paginaAtual = $event.page; onLoadDoacoes(idIncentivador, paginaAtual)" 
                pageBtnClass="btn" 
                [maxSize]="4" 
                class="pagination-sm"
                [boundaryLinks]="true" 
                itemsPerPage="12"
                [rotate]="false"  
                nextText="&#x25B8;"
                lastText="&#x25B8;&#x25B8;"
                firstText="&#x25C2;&#x25C2;"
                previousText="&#x25C2;"></pagination>
    </div>

  </div>
  <div *ngIf="carregandoDados" class="spinner">
    <sk-cube-grid [color]="'#226000'" [isRunning]="carregandoDados"></sk-cube-grid>
    <p>Carregando Incentivador...</p>
  </div>
  <div *ngIf="!carregandoDados && carregandoDadosDoacoes" class="spinner">
    <sk-cube-grid [color]="'#226000'" [isRunning]="carregandoDadosDoacoes"></sk-cube-grid>
    <p>Carregando doações do incentivador...</p>
  </div>
</div>