<p>
  Página do Incentivador de id: {{ idIncentivador }} 
</p>
<a [routerLink]="['/', 'incentivadores']">Página Inicial</a>

<button (click)="onLoadIncentivador(idIncentivador)">Carregar Incentivador</button>
<p *ngIf="carregandoDados">Carregando incentivador...</p>
<p>{{ JSON.stringify(incentivador) }}</p>

<button (click)="onLoadDoacoes(idIncentivador)">Carregar Doações deste Incentivador</button>
<p *ngIf="carregandoDadosDoacoes">Carregando doações deste incentivador...</p>
<div *ngFor="let doacao of listaDoacoes">
  <p>{{ doacao.nome_projeto}} <button [routerLink]="['/projetos', doacao.PRONAC]">VER PROJETO</button></p>
  <p>{{ JSON.stringify(doacao) }}</p>
</div>