<p>
  Página do Incentivador de id: {{ idIncentivador }} 
</p>
<p>Exemplos de ShareButtons: </p>
<share-buttons class="withCount" 
              [url]="this.router.url" 
              [stumbleUpOn]="false" [pinterest]="false" [tumblr]="false"
              [showCount]="true" ></share-buttons>

<a [routerLink]="['/', 'incentivadores']">Página Inicial</a>

<!--<button (click)="onLoadIncentivador(idIncentivador)">Carregar Incentivador</button>-->
<p *ngIf="carregandoDados">Carregando incentivador...</p>

<div *ngIf="!carregandoDados">
  <p>{{ JSON.stringify(incentivador) }}</p>
  <!--<button (click)="onLoadDoacoes(idIncentivador)">Carregar Doações deste Incentivador</button>-->
  <p *ngIf="carregandoDadosDoacoes">Carregando doações deste incentivador...</p>
  <div *ngIf="!carregandoDadosDoacoes">
    <div *ngFor="let doacao of listaDoacoes">
      <p>{{ doacao.nome_projeto}} <button [routerLink]="['/projetos', doacao.PRONAC]">VER PROJETO</button></p>
      <p>{{ JSON.stringify(doacao) }}</p>
    </div>

    <div *ngIf="buscaPorDoacoesSemResultados">
      <p>Não encontramos Doações feitas por este Incentivador.</p>
    </div>

  </div>
</div>