/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

// Fonte Base
$fonte-base: 'Lato', sans-serif;
$fonte-logo: 'Raleway', sans-serif;

// Paleta de Cores Original do SALIC
$primary-color: #333;
$vermelho-salic: #eb3601;
$azul-salic: #1066f1;
$verde-salic: #226000;
$verde-claro-salic: #acda5d;
$amarelo-salic: #f3dc34;

// Paleta com variações utizadas no site
$verde-claro: #def1b5;
$verde-escuro: #202e1a;
$cinza: #e0e0e0;
$cinza-claro: #f2f2f2;
$cinza-escuro: #b3b3b3; 
$background-salic: #f2f4ed;

html {
  width: auto;
  overflow-x: hidden;
  height: 100%;
}
body {
  background-color: #fbfbfb !important;
  font-family: $fonte-base;
  font-size: 16px !important;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
footer {
  background-color: $verde-claro-salic;
  font-family: $fonte-base;
  text-align: center;
  padding: 20px;
}

// Spinner
.spinner {

  text-align: center;
  margin: 40vh auto 0 auto;

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 10px auto
  }

  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #226000;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }
}

share-buttons{

      .sb-buttons {

        display: inline-block;

        .sb-button {  

          button{

            border-radius: 15px;
            background-color: $verde-salic; 
            color: white;
            min-width: 30px;
            height: 30px;
            padding: 8px;
            vertical-align: middle;

            .sb-template{
              i {font-size: 1.0em; display: block; }

              .fa-google-plus {
                font-size: 0.75em;
              }
            }
            .sb-count{
            }
          }
        }
      }
}